ion-content {
    --background: none;
    //background-image: url('../../assets/dashboard-bg.png');
    // background-color: #c5e3ff;
    background-color: #071947;
    // background-color: #c5e3ffa6;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
#header-icons{
    text-align: right;
    ion-icon{
        // color: black;
        color: white;
        font-size: 1.5rem;
        margin-left: 16px;
    }
}
.card-gap {
    margin-top: 32px;
    margin-left: 7px;
    margin-right: 7px;
}

.card-gap1 {
    margin-top: 20px;
    margin-left: 7px;
    margin-right: 7px;
}
.help_icon{
    float: right;
    margin-right: 25px;
    font-size: x-large;
    margin-top: -22px;
    color: red;
}

.broadcast-card {
    border-radius: 14px;
    margin-left: 0px;
    width: 100%;
}

.text-align{
    font-size: large;
    text-align: center;
    color: black;
    font-weight: 600;
}

.honeycomb-overlay {
    position: absolute;
    pointer-events: none;
    top: -137px;
    left: -152px;
    right: 0;
    bottom: 0;
    // height: 100px;
    background-image: url('../../assets/background/profile_bg1.svg'); /* Path to your honeycomb vector image */
    background-size: cover;
    opacity: 0.5;
    z-index: 2;
}
.button-property {
    float: right;
    margin-right: 30px;
}