<div *ngIf="showFab">
  <ion-fab vertical="bottom" horizontal="center" class="above-footer-fab highlight-fab" (click)="inviteYourFriend()" *ngIf="!handShake && !isKeyboardOpen">
    <ion-fab-button class="custom-fab">
      <img src="assets/accolades/user.png" class="menu-icon1">
      <!-- <ion-icon name="person-add-outline" ></ion-icon> -->
    </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="center" class="above-footer-fab highlight-fab" (click)="handshakeYourFriend()"  *ngIf="handShake && !isKeyboardOpen">
    <ion-fab-button class="custom-fab">
      <img src="assets/accolades/deal.png" class="menu-icon1">
      <!-- <ion-icon name="hand-left-outline" ></ion-icon> -->
    </ion-fab-button>
  </ion-fab>
</div>
<!-- <ion-toolbar *ngIf="showFlag" class="toolbar">
  <ion-tabs>
    <ion-tab-bar class="tab-bar">
      <ion-tab-button>
        
      </ion-tab-button>
      <ion-tab-button>
        
      </ion-tab-button>
      <ion-tab-button>
        
      </ion-tab-button>
      <ion-tab-button>
        <ion-icon name="alert-circle-outline"></ion-icon>
        <ion-label>Setting</ion-label>
      </ion-tab-button>
      <ion-tab-button>
        <ion-icon name="call-outline"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-tab-button >
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar> -->
<div class="divider"></div>
<ion-toolbar class="footer-toolbar">
  <ion-tabs>
    <ion-tab-bar>
      <ion-tab-button (click)="goToHome()">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
      <ion-tab-button (click)="goToMall()">
        <!-- <ion-icon name="megaphone-outline"></ion-icon> -->
        <!-- <ion-label>Yellow Pages</ion-label> -->
        <ion-icon name="cart-outline"></ion-icon>
        <ion-label>Deals</ion-label>
      </ion-tab-button>
      <!-- <ion-tab-button>
        <ion-icon name="cart-outline"></ion-icon>
        <ion-label>Mail</ion-label>
      </ion-tab-button> -->
      <ion-tab-button (click)="goToEvents()" class="left_align">  <!--style="margin-left: 100px;"-->
        <!-- <ion-icon name="person-outline"></ion-icon> -->
        <!-- <ion-label>Profile</ion-label> -->
        <ion-icon name="calendar-number-outline"></ion-icon>
        <ion-label>Events</ion-label>
      </ion-tab-button>
      <ion-tab-button (click)="openFooter()"> <!--class="right_align"-->
        <ion-icon name="ellipsis-horizontal"></ion-icon>
        <ion-label>More</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>