.post-image {
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
  }
  
  .comment-section {
    margin: 10px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
  }
  
  .comments-list {
    margin-top: 10px;
  }
  
  .comment {
    margin-bottom: 5px;
    font-size: 14px;
  }
  
  ion-input {
    --padding-start: 0;
  }
  
  ion-item {
    --inner-padding-end: 0;
    --inner-padding-start: 0;
  }

  .no-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // height: 100vh; /* Full height of the viewport */
    flex: 1;
    text-align: center;
    margin-top: 50%;
}
.watermark-image {
    // opacity: 0.08;
    width: 109px; /* Adjust size as needed */
    margin-bottom: 10px; /* Space between image and text */
    margin-left: 12%;
}
.no-data-text {
    font-size: 18px;
    color: #ffffff; /* Adjust color as needed */
    margin-left: 38px;
}