<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- <div class="honeycomb-overlay"></div> -->
  <div class="ion-padding-top ion-padding-horizontal" style="background: #061947;">
    <ion-grid>
      <ion-row>
        <ion-col size="1" style="text-align: start;" (click)="dismiss()">
          <ion-icon name="arrow-back-outline" style="color:white;font-size: x-large;"></ion-icon>
        </ion-col>
        <ion-col size="9" style="text-align: center; margin-top: -3px;">
          <strong class="header" style="color:white;">My Accept Request</strong>
        </ion-col>
        <!-- <ion-col style="text-align: end;" (click)="showSearch()">
          <ion-icon name="search-outline" style="color:white; margin-right: 7px;"></ion-icon>
        </ion-col> -->
      </ion-row>
    </ion-grid>
  </div>
  <div class="searchbar_align">
    <ion-searchbar [(ngModel)]="searchQuery" mode="ios" class="custom" (ionInput)="filterList($event)" placeholder="Search Request" (click)="hideFooter()"></ion-searchbar>
  </div>
  <!-- <app-commonsearch class="animated-display" *ngIf="searchFlag"></app-commonsearch> -->
  <div style="margin-left: 5px;">
    <ion-segment value="accept" [(ngModel)]="info" scrollable>
      <ion-segment-button value="all" (click)="load_friend_request('accept')">
        <ion-label style="font-size: x-small;color:white;">All</ion-label>
      </ion-segment-button>
      <ion-segment-button value="accept" (click)="load_friend_request('accept')">
        <ion-label style="font-size: x-small;color:white;">Accept Reachout</ion-label>
      </ion-segment-button>
      <ion-segment-button value="handshake" (click)="load_handshake_request()">
        <ion-label style="font-size: x-small;color:white;">Handshake Request</ion-label>
      </ion-segment-button>
      <ion-segment-button value="invite" (click)="load_friend_request('invite')">
        <ion-label style="font-size: x-small;color:white;">Invitation Request</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>
  <div [ngSwitch]="info">
    <div  class="gap" *ngSwitchCase="'all'">
      <div *ngIf="friendRequestDataLoaded && filteredFriendRequestList.length > 0">
        <ion-grid>
          <ion-row class="border-bottom" *ngFor="let data of filteredFriendRequestList">
            <ion-col size="3" (click)="goToProfile(data)">
              <img src="{{imageUrl}}{{data.PROFILE_IMAGE}}" alt="" class="circle-img" *ngIf="data.PROFILE_IMAGE" >
              <img src="../../assets/avtar4.png" alt="" class="circle-img" *ngIf="!data.PROFILE_IMAGE" >
              <!-- <img src="{{imageUrl}}{{requestText=='Request-in'?data.SENDER__PROFILE_IMAGE:data.PROFILE_IMAGE}}" alt="" class="circle-img" *ngIf="requestText=='Request-in'?data.SENDER__PROFILE_IMAGE:data.PROFILE_IMAGE">
              <img src="../../assets/avtar3.jpeg" alt="" class="circle-img" *ngIf="requestText=='Request-in'?!data.SENDER__PROFILE_IMAGE:!data.PROFILE_IMAGE"> -->
            </ion-col>
            <ion-col size="9">
              <span class="name-text" (click)="goToProfile(data)">{{data.NAME}}</span><br>
              <ion-icon name="call-outline" class="icon-align" (click)="makeCall(data.MOBILE_NO)" ></ion-icon>
              <ion-badge [ngClass]="{'accept-shake-align': data.HANDSHAKE_STATUS=='accept','reject-shake-align': data.HANDSHAKE_STATUS=='reject', 'shake-align': data.HANDSHAKE_STATUS=='pending'}" mode="md" style="margin-top: -9px;" ><img src="assets/accolades/deal.png" class="menu-icon1" (click)="add_handshake(data)"></ion-badge>
              <span class="designation-text">{{data.PROFESSION__NAME}}</span><br>
              <!-- <span class="name-text">{{requestText=='Request-in'?data.SENDER__NAME:data.NAME}}</span><br>
              <span class="designation-text">{{requestText=='Request-in'?data.SENDER__PROFESSION__NAME:data.PROFESSION__NAME}}</span><br> -->
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div class="no-data" *ngIf="friendRequestDataLoaded && filteredFriendRequestList.length == 0">
        <img class="watermark-image" src="../../assets/no-data-found.png" alt="No Data">
        <span class="no-data-text">No Request Accepted Data</span>
      </div>
    </div>
    <div class="gap" *ngSwitchCase="'accept'">
      <!-- <div>
        <ion-grid>
          <ion-row >
            <ion-col size="6">
                <ion-grid>
                    <ion-col >
                      <ion-radio-group [allowEmptySelection]="true" [(ngModel)]="selectedRadio" (ionChange)="onRadioSelect('1st')">
                        <ion-radio 
                        value="1st"
                        color="tertiary"
                        justify="space-between" 
                        labelPlacement="end" 
                        style="font-size: xx-small;"
                        [ngClass]="{'radio-selected': selectedRadio === '1st', 'radio-unselected': selectedRadio !== '1st'}"
                        >
                        <span style="text-transform: none;color:white">Request in</span></ion-radio>
                      </ion-radio-group>
                    </ion-col>
                </ion-grid>
            </ion-col>
            <ion-col size="6">
                <ion-grid>
                    <ion-col>
                      <ion-radio-group [allowEmptySelection]="true" [(ngModel)]="selectedRadio" (ionChange)="onRadioSelect('2nd')">
                        <ion-radio 
                        value="2nd" 
                        color="tertiary" 
                        justify="space-between" 
                        labelPlacement="end" 
                        style="font-size: xx-small;"
                        [ngClass]="{'radio-selected': selectedRadio === '2nd', 'radio-unselected': selectedRadio !== '2nd'}"
                        
                      >
                        <span style="text-transform: none;color:white">Request out</span></ion-radio>
                      </ion-radio-group>
                    </ion-col>
                </ion-grid>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div> -->
      <div *ngIf="friendRequestDataLoaded && filteredFriendRequestList.length > 0">
        <ion-grid>
          <ion-row class="border-bottom" *ngFor="let data of filteredFriendRequestList">
            <ion-col size="3" (click)="goToProfile(data)">
              <img src="{{imageUrl}}{{data.PROFILE_IMAGE}}" alt="" class="circle-img" *ngIf="data.PROFILE_IMAGE" >
              <img src="../../assets/avtar4.png" alt="" class="circle-img" *ngIf="!data.PROFILE_IMAGE" >
              <!-- <img src="{{imageUrl}}{{requestText=='Request-in'?data.SENDER__PROFILE_IMAGE:data.PROFILE_IMAGE}}" alt="" class="circle-img" *ngIf="requestText=='Request-in'?data.SENDER__PROFILE_IMAGE:data.PROFILE_IMAGE">
              <img src="../../assets/avtar3.jpeg" alt="" class="circle-img" *ngIf="requestText=='Request-in'?!data.SENDER__PROFILE_IMAGE:!data.PROFILE_IMAGE"> -->
            </ion-col>
            <ion-col size="9">
              <span class="name-text" (click)="goToProfile(data)">{{data.NAME}}</span><br>
              <ion-icon name="call-outline" class="icon-align" (click)="makeCall(data.MOBILE_NO)" ></ion-icon>
              <ion-badge [ngClass]="{'accept-shake-align': data.HANDSHAKE_STATUS=='accept','reject-shake-align': data.HANDSHAKE_STATUS=='reject', 'shake-align': data.HANDSHAKE_STATUS=='pending'}" mode="md" style="margin-top: -9px;" ><img src="assets/accolades/deal.png" class="menu-icon1" (click)="add_handshake(data)"></ion-badge>
              <span class="designation-text">{{data.PROFESSION__NAME}}</span><br>
              <!-- <span class="name-text">{{requestText=='Request-in'?data.SENDER__NAME:data.NAME}}</span><br>
              <span class="designation-text">{{requestText=='Request-in'?data.SENDER__PROFESSION__NAME:data.PROFESSION__NAME}}</span><br> -->
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div class="no-data" *ngIf="friendRequestDataLoaded && filteredFriendRequestList.length == 0">
        <img class="watermark-image" src="../../assets/no-data-found.png" alt="No Data">
        <span class="no-data-text">No Request Accepted Data</span>
      </div>
    </div>
    <div class="gap" *ngSwitchCase="'handshake'">
      <!-- <div>
        <ion-grid>
          <ion-row >
            <ion-col size="6">
                <ion-grid>
                    <ion-col >
                      <ion-radio-group [allowEmptySelection]="true" [(ngModel)]="selectedRadio" (ionChange)="onRadioSelect('1st')">
                        <ion-radio 
                        value="1st"
                        color="tertiary"
                        justify="space-between" 
                        labelPlacement="end" 
                        style="font-size: xx-small;"
                        [ngClass]="{'radio-selected': selectedRadio === '1st', 'radio-unselected': selectedRadio !== '1st'}"
                        >
                        <span style="text-transform: none;color:white">Request in</span></ion-radio>
                      </ion-radio-group>
                    </ion-col>
                </ion-grid>
            </ion-col>
            <ion-col size="6">
                <ion-grid>
                    <ion-col>
                      <ion-radio-group [allowEmptySelection]="true" [(ngModel)]="selectedRadio" (ionChange)="onRadioSelect('2nd')">
                        <ion-radio 
                        value="2nd" 
                        color="tertiary" 
                        justify="space-between" 
                        labelPlacement="end" 
                        style="font-size: xx-small;"
                        [ngClass]="{'radio-selected': selectedRadio === '2nd', 'radio-unselected': selectedRadio !== '2nd'}"
                        
                      >
                        <span style="text-transform: none;color:white">Request out</span></ion-radio>
                      </ion-radio-group>
                    </ion-col>
                </ion-grid>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div> -->
      <div *ngIf="handshakeDataLoaded && filteredHandshakeList.length > 0">
        <ion-grid>
          <ion-row class="border-bottom" *ngFor="let data of filteredHandshakeList">
            <ion-col size="3" (click)="goToProfile(data)">
              <img src="{{imageUrl}}{{data.PROFILE_IMAGE}}" alt="" class="circle-img"  *ngIf="data.PROFILE_IMAGE">
              <img src="../../assets/avtar4.png" alt="" class="circle-img" *ngIf="!data.PROFILE_IMAGE" >
            </ion-col>
            <ion-col size="9">
              <span class="name-text" (click)="goToProfile(data)">{{data.NAME}}</span><br>
              <span class="designation-text">{{data.PROFESSION__NAME}}</span><br>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div class="no-data" *ngIf="handshakeDataLoaded && filteredHandshakeList.length == 0">
        <img class="watermark-image" src="../../assets/no-data-found.png" alt="No Data">
        <span class="no-data-text">No Handshake Accepted Data</span>
      </div>
    </div>
    <div class="gap" *ngSwitchCase="'invite'">
      <div *ngIf="friendRequestDataLoaded && filteredFriendRequestList.length > 0">
        <ion-grid>
          <ion-row class="border-bottom" *ngFor="let data of filteredFriendRequestList">
            <ion-col size="3" (click)="goToProfile(data)">
              <img src="{{imageUrl}}{{data.PROFILE_IMAGE}}" alt="" class="circle-img" *ngIf="data.PROFILE_IMAGE" >
              <img src="../../assets/avtar4.png" alt="" class="circle-img" *ngIf="!data.PROFILE_IMAGE" >
            </ion-col>
            <ion-col size="9">
              <span class="name-text" (click)="goToProfile(data)">{{data.NAME}}</span><br>
              <span class="designation-text">{{data.PROFESSION__NAME}}</span><br>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div class="no-data" *ngIf="friendRequestDataLoaded && filteredFriendRequestList.length == 0">
        <img class="watermark-image" src="../../assets/no-data-found.png" alt="No Data">
        <span class="no-data-text">No Request Accepted Data</span>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
</ion-content>

<app-commonfooter></app-commonfooter>