<ion-content [fullscreen]="true">
  <div class="ion-padding-top ion-padding-horizontal" >
    <ion-grid>
      <ion-row>
        <ion-col size="1" style="text-align: start;" (click)="dismiss()">
          <ion-icon name="arrow-back-outline" style="color:black;font-size: x-large;"></ion-icon>
        </ion-col>
        <ion-col size="9" style="text-align: center; margin-top: -3px;">
          <strong class="header" style="color:black;">Edit Profile</strong>
        </ion-col>
        <!-- <ion-col style="text-align: end;" (click)="showSearch()">
          <ion-icon name="search-outline" style="color:white; margin-right: 7px;"></ion-icon>
        </ion-col> -->
      </ion-row>
    </ion-grid>
  </div>
  <div class="form-div">
      <ion-row>
          <ion-col size="12">
              <div class="input-container" [class.focused]="user.edit_name || inputFocused">
                  <ion-label class="input-label required">Full Name</ion-label>
                  <div class="input-group">
                      <ion-input class="input-box" type="text" [(ngModel)]="user.edit_name" ></ion-input>  <!--(focus)="onInputFocus()" (blur)="onInputBlur()"-->
                  </div>
              </div>
          </ion-col>
      </ion-row>
      <ion-row>
          <ion-col size="6">
              <div class="input-container" [class.focused]="user.edit_city || inputFocused">
                  <ion-label class="input-label required">District</ion-label>
                  <div class="input-group">
                      <ion-select class="ion-select" [(ngModel)]="user.edit_city" (ionChange)="load_location()">
                          <ion-select-option *ngFor="let item of get_cities" [value]="item.id">{{item.NAME}}</ion-select-option>
                          <!-- <ion-select-option>Durgapur</ion-select-option> -->
                      </ion-select>
                  </div>
              </div>
          </ion-col>
          <ion-col size="6">
              <div class="input-container" [class.focused]="user.edit_location || inputFocused">
                  <ion-label class="input-label required">City</ion-label>
                  <div class="input-group">
                      <ion-select class="ion-select" [(ngModel)]="user.edit_location">
                          <ion-select-option *ngFor="let item of get_locations" [value]="item.id">{{item.NAME}}</ion-select-option>
                      </ion-select>
                  </div>
              </div>
          </ion-col>
      </ion-row>
      <ion-row>
          <ion-col size="12">
              <div class="input-container" [class.focused]="user.edit_mobile_no || inputFocused">
                  <ion-label class="input-label required">Mobile Number</ion-label>
                  <div class="input-group">
                      <ion-input class="input-box" type="number" [(ngModel)]="user.edit_mobile_no" disabled></ion-input>
                  </div>
              </div>
          </ion-col>
      </ion-row>
      <ion-row>
          <ion-col size="12">
              <div class="input-container" [class.focused]="user.edit_email_id || inputFocused">
                  <ion-label class="input-label required">Email</ion-label>
                  <div class="input-group">
                      <ion-input class="input-box" type="text" [(ngModel)]="user.edit_email_id"></ion-input>
                  </div>
              </div>
          </ion-col>
      </ion-row>
      <!-- <ion-row>
          <ion-col size="12">
              <div class="input-container" [class.focused]="user.edit_profession || inputFocused">
                  <ion-label class="input-label required">Profession</ion-label>
                  <div class="input-group">
                      <ion-select class="ion-select" [(ngModel)]="user.edit_profession">
                          <ion-select-option *ngFor="let item of get_professions" [value]="item.id">{{item.NAME}}</ion-select-option>
                      </ion-select>
                  </div>
              </div>
          </ion-col>
      </ion-row> -->
      <ion-row>
        <ion-col size="12">
        <div class="input-container" [class.focused]="user.edit_profession || inputFocused">
            <ion-label class="input-label required">Profession</ion-label>
            <div class="input-group">
            <ion-input [value]="selectedProfessionName" readonly (click)="openPopover($event)"></ion-input>
            </div>
        </div>
        </ion-col>
    </ion-row>
    
    <!-- Popover for Searchable Dropdown -->
    <ion-popover #professionPopover [isOpen]="isPopoverOpen" (didDismiss)="isPopoverOpen = false">
        <ng-template>
        <ion-content class="popover-content">
            <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="filterProfessions()"></ion-searchbar>
            <ion-list>
            <ion-item *ngFor="let item of filteredProfessions" (click)="selectProfession(item)">
                {{ item.NAME }}
            </ion-item>
            </ion-list>
        </ion-content>
        </ng-template>
    </ion-popover>
      <ion-row>
          <ion-col size="12">
              <div class="input-container"  [class.focused]="user.edit_specialization || inputFocused">
                  <ion-label class="input-label required">Specialization</ion-label>
                  <div class="input-group">
                      <ion-input class="input-box" type="text" [(ngModel)]="user.edit_specialization"></ion-input>
                      <!-- <ion-select class="ion-select" multiple [(ngModel)]="user.specialization">
                          <ion-select-option *ngFor="let item of get_specializations" [value]="item.id">{{item.NAME}}</ion-select-option>
                      </ion-select> -->
                  </div>
              </div>
          </ion-col>
      </ion-row>
      <ion-row>
          <ion-col size="12">
              <div class="input-container" [class.focused]="user.edit_interest || inputFocused">
                  <ion-label class="input-label required">Interest</ion-label>
                  <div class="input-group">
                      <ion-select class="ion-select" multiple [(ngModel)]="user.edit_interest">
                          <ion-select-option *ngFor="let item of get_interests" [value]="item.id">{{item.NAME}}</ion-select-option>
                      </ion-select>
                  </div>
              </div>
          </ion-col>
      </ion-row>
      <ion-row>
          <ion-col size="12">
              <ion-button  type="submit" color="tertiary" class="login-btn" (click)="update_user()"><b>Submit</b></ion-button>
          </ion-col>
      </ion-row>
  </div>
</ion-content>