<ion-content>
  <ion-refresher slot="fixed" [pullFactor]="0.5" [pullMin]="100" [pullMax]="200" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- <div class="honeycomb-overlay"></div> -->
  <div class="ion-padding-top ion-padding-horizontal" style="background: #061947;">
    <ion-grid>
      <ion-row>
        <ion-col size="1" style="text-align: start;" (click)="dismiss()">
          <ion-icon name="arrow-back-outline" style="color:white;font-size: x-large;"></ion-icon>
        </ion-col>
        <ion-col size="9" style="text-align: center; margin-top: -3px;">
          <strong class="header" style="color:white;">Events</strong>
        </ion-col>
        <!-- <ion-col style="text-align: end;" (click)="showSearch()">
          <ion-icon name="search-outline" style="color:white; margin-right: 7px;"></ion-icon>
        </ion-col> -->
      </ion-row>
    </ion-grid>
  </div>
  <!-- <app-commonsearch class="animated-display" *ngIf="searchFlag"></app-commonsearch> -->
  <ion-searchbar [(ngModel)]="searchQuery" mode="ios" class="custom" (ionInput)="filterEventList()" placeholder="Search Events" (click)="hideFooter()"></ion-searchbar>

  <div style="margin-left: 5px;">
    <ion-segment value="allevent" [(ngModel)]="info">
      <ion-segment-button value="allevent" (click)="load_events()">
        <ion-label style="font-size: x-small;color:white;">All Event</ion-label>
      </ion-segment-button>
      <ion-segment-button value="myevent" (click)="load_my_events()">
        <ion-label style="font-size: x-small;color:white;">My Event</ion-label>
      </ion-segment-button>
      <ion-segment-button value="myinterest" (click)="load_my_interested_events()">
        <ion-label style="font-size: x-small;color:white;">My Interest</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>
  <div >
    <ion-button class="button-property" size="small" color="tertiary" (click)="addEvent()" style="text-transform: none;"><ion-icon name="add-outline"></ion-icon>Create Event</ion-button>
  </div>
  <div [ngSwitch]="info">
    <div class="card-gap1" *ngSwitchCase="'allevent'">
      <div *ngIf="dataLoaded && filteredList.length > 0">
        <!-- <ion-row style="margin-left: 13px;margin-top: 17px;">
          <span style="font-weight: 600;color:white;font-size: 12px;">Music</span>
        </ion-row> -->
        <ion-grid *ngFor="let data of filteredList">
          <ion-row style="margin-left: 13px;">
            <span style="font-weight: 600;color:white;font-size: 12px;">{{data.category_name}}</span>
          </ion-row>
          <ion-row class="scroll" >
            <ion-col size="8"  *ngFor="let event of data.events; let rindex = index;">
              <ion-card class="event-card">
                <ion-card-header class="card-header-img" (click)="goToDetails(event,'all')"> 
                  <img src="{{imageUrl}}{{event.event_image}}" alt="" class="img-banner1">
                </ion-card-header>
                  <ion-row (click)="goToDetails(event,'all')">
                    <ion-col size="6">
                      <span style="float:left;font-size: 9px;color:#000000;font-weight: 500;">{{event.from_date | date:'dd MMMM, yyyy'}}</span>
                    </ion-col>
                    <ion-col size="6" style="margin-top: -6px;">
                      <span style="font-size: 9px;color:#ee6737;font-weight: 500;">{{event.from_time}}</span>
                    </ion-col>
                  </ion-row>
                  <ion-row style="margin-top: -9px;" (click)="goToDetails(event,'all')">
                    <ion-col>
                      <span style="float:left;font-size:small;color:#000000;font-weight: 700;">{{event.event_name}}</span>
                    </ion-col>
                  </ion-row>
                  <ion-row style="margin-top: 10px;">
                    <ion-col size="2">
                      <img src="{{imageUrl}}{{event.event_created_image}}" alt="" class="circle-img1" *ngIf="event.event_created_image">
                      <img src="../../assets/avtar4.png" alt="" class="circle-img1" *ngIf="!event.event_created_image">
                    </ion-col>
                    <ion-col size="6">
                      <span style="color:#0f1f49;font-size: 9px;">{{event.event_created_by}}</span><!--margin-left: -50px;-->
                    </ion-col>
                    <ion-col size="4">
                      <ion-button class="interested-button" [color]="event.interest==true?'danger':'tertiary'" (click)="add_interested_event(event, rindex)" *ngIf="event.interest_button">
                        <ion-icon name="calendar-outline"></ion-icon>&nbsp;<span style="font-size: 10px;">{{event.interest==true?'Cancelled':'Interested'}}</span>
                      </ion-button>
                    </ion-col>
                  </ion-row>
              </ion-card>
            </ion-col>
          </ion-row>
          <div *ngIf="data.events.length>1">
            <ion-row (click)="goToEventList(data, 'all')">
              <ion-col size="11" style="float:right;">
                <h6 class="view-but">View All &nbsp;</h6>
              </ion-col>
              <ion-col size="1">
                <ion-badge style="background-color:#ec4b32;" mode="md" class="badge_align"><ion-icon name="arrow-forward-outline"></ion-icon></ion-badge>
              </ion-col>
            </ion-row>
          </div>
        </ion-grid>
      </div>
      <div class="no-data" *ngIf="dataLoaded && filteredList.length == 0">
        <img class="watermark-image" src="../../assets/no-data-found.png" alt="No Data">
        <span class="no-data-text">No events yet, but great moments are waiting. Create your first event now!.</span>
      </div>
    </div>
    <div class="card-gap1" *ngSwitchCase="'myevent'">
      <div *ngIf="myEventDataLoaded && filteredMyEventList.length > 0">
        <ion-grid *ngFor="let data of filteredMyEventList">
          <ion-row style="margin-left: 13px;">
            <span style="font-weight: 600;color:white;font-size: 12px;">{{data.category_name}}</span>
          </ion-row>
          <ion-row class="scroll" >
            <ion-col size="8"  *ngFor="let event of data.events">
              <ion-card class="my-event-card" (click)="goToDetails(event,'myevent')"><!--[ngClass]="{'my-event-card': event.completed, 'event-card': !event.completed}" -->
                <ion-card-header class="card-header-img"> 
                  <img src="{{imageUrl}}{{event.event_image}}" alt="" class="img-banner1">
                </ion-card-header>
                  <ion-row>
                    <ion-col size="6">
                      <span style="float:left;font-size: 9px;color:#000000;font-weight: 500;">{{event.from_date | date:'dd MMMM, yyyy'}}</span><!--{{event.date | date:'dd MMMM, yyyy'}}-->
                    </ion-col>
                    <ion-col size="6" style="margin-top: -6px;">
                      <span style="font-size: 9px;color:#ee6737;font-weight: 500;">{{event.from_time}}</span>
                    </ion-col>
                  </ion-row>
                  <ion-row style="margin-top: -9px;">
                    <ion-col>
                      <span style="float:left;font-size:small;color:#000000;font-weight: 700;">{{event.event_name}}</span>
                    </ion-col>
                    <!-- <ion-col style="text-align: center;" *ngIf="event.completed">
                      <ion-badge class="sold-wish-badge-color" mode="ios">Completed</ion-badge>
                    </ion-col> -->
                  </ion-row>
                  <ion-row style="margin-top: 10px;">
                    <ion-col size="2">
                      <img src="{{imageUrl}}{{event.event_created_image}}" alt="" class="circle-img1" *ngIf="event.event_created_image">
                      <img src="../../assets/avtar4.png" alt="" class="circle-img1" *ngIf="!event.event_created_image">
                    </ion-col>
                    <ion-col size="6">
                      <span style="color:#0f1f49;font-size: 9px;">{{event.event_created_by}}</span><!--margin-left: -50px;-->
                    </ion-col>
                    <ion-col size="4">
                      <!-- <ion-button class="interested-button" color="tertiary">
                        <ion-icon name="calendar-outline"></ion-icon>&nbsp;<span style="font-size: 10px;">Interested</span>
                      </ion-button> -->
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="6" >
                      <ion-badge mode="ios" class="share-badge-color">{{event.share_with}}</ion-badge>
                    </ion-col>
                    <ion-col size="6" *ngIf="event.completed" >
                      <ion-badge class="sold-wish-badge-color" mode="ios">Completed</ion-badge>
                    </ion-col>
                  </ion-row>
              </ion-card>
            </ion-col>
          </ion-row>
          <div *ngIf="data.events.length>1">
            <ion-row (click)="goToEventList(data, 'myevent')">
              <ion-col size="11" style="float:right;">
                <h6 class="view-but">View All &nbsp;</h6>
              </ion-col>
              <ion-col size="1">
                <ion-badge style="background-color:#ec4b32;" mode="md" class="badge_align"><ion-icon name="arrow-forward-outline"></ion-icon></ion-badge>
              </ion-col>
            </ion-row>
          </div>
        </ion-grid>
      </div>
      <div class="no-data" *ngIf="myEventDataLoaded && filteredMyEventList.length == 0">
        <img class="watermark-image" src="../../assets/no-data-found.png" alt="No Data">
        <span class="no-data-text">No events yet, but great moments are waiting. Create your first event now!.</span>
      </div>
    </div>
    <div class="card-gap1" *ngSwitchCase="'myinterest'">
      <div *ngIf="myInterestDataLoaded && filteredMyInterestList.length > 0">
        <ion-grid *ngFor="let data of filteredMyInterestList">
          <ion-row style="margin-left: 13px;">
            <span style="font-weight: 600;color:white;font-size: 12px;">{{data.category_name}}</span>
          </ion-row>
          <ion-row class="scroll" >
            <ion-col size="8"  *ngFor="let event of data.events; let rindex = index;">
              <ion-card class="event-card">
                <ion-card-header class="card-header-img" (click)="goToDetails(event,'myinterest')"> 
                  <img src="{{imageUrl}}{{event.event_image}}" alt="" class="img-banner1">
                </ion-card-header>
                  <ion-row (click)="goToDetails(event,'myinterest')">
                    <ion-col size="6">
                      <span style="float:left;font-size: 9px;color:#000000;font-weight: 500;">{{event.from_date | date:'dd MMMM, yyyy'}}</span>
                    </ion-col>
                    <ion-col size="6" style="margin-top: -6px;">
                      <span style="font-size: 9px;color:#ee6737;font-weight: 500;">{{event.from_time | date:'hh:mm a'}}</span>
                    </ion-col>
                  </ion-row>
                  <ion-row style="margin-top: -9px;" (click)="goToDetails(event,'myinterest')">
                    <ion-col>
                      <span style="float:left;font-size:small;color:#000000;font-weight: 700;">{{event.event_name}}</span>
                    </ion-col>
                    <ion-col style="text-align: center;" *ngIf="event.completed">
                      <ion-badge class="sold-wish-badge-color" mode="ios">Event Completed</ion-badge>
                    </ion-col>
                  </ion-row>
                  <ion-row style="margin-top: 10px;">
                    <ion-col size="2" (click)="goToDetails(event,'myinterest')">
                      <img src="{{imageUrl}}{{event.event_created_image}}" alt="" class="circle-img1" *ngIf="event.event_created_image">
                      <img src="../../assets/avtar4.png" alt="" class="circle-img1" *ngIf="!event.event_created_image">
                    </ion-col>
                    <ion-col size="6" (click)="goToDetails(event,'myinterest')">
                      <span style="color:#0f1f49;font-size: 9px;">{{event.event_created_by}}</span><!--margin-left: -50px;-->
                    </ion-col>
                    <ion-col size="4">
                      <ion-button class="interested-button" [color]="event.interest==true?'danger':'tertiary'" (click)="add_interested_event(event, rindex)" *ngIf="event.interest_button">
                        <ion-icon name="calendar-outline"></ion-icon>&nbsp;<span style="font-size: 10px;">{{event.interest==true?'Cancelled':'Interested'}}</span>
                      </ion-button>
                    </ion-col>
                  </ion-row>
                  <!-- <ion-row>
                    <ion-col style="text-align: center;" *ngIf="event.completed">
                      <ion-badge class="sold-wish-badge-color" mode="ios">Completed</ion-badge>
                    </ion-col>
                  </ion-row> -->
              </ion-card>
            </ion-col>
          </ion-row>
          <div *ngIf="data.events.length>1">
            <ion-row (click)="goToEventList(data, 'myinterest')">
              <ion-col size="11" style="float:right;">
                <h6 class="view-but">View All &nbsp;</h6>
              </ion-col>
              <ion-col size="1">
                <ion-badge style="background-color:#ec4b32;" mode="md" class="badge_align"><ion-icon name="arrow-forward-outline"></ion-icon></ion-badge>
              </ion-col>
            </ion-row>
          </div>
        </ion-grid>
      </div>
      <div class="no-data" *ngIf="myInterestDataLoaded && filteredMyInterestList.length == 0">
        <img class="watermark-image" src="../../assets/no-data-found.png" alt="No Data">
        <span class="no-data-text">Discover your passions! Start by adding your event interests to personalize your experience.</span>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
</ion-content>

<app-commonfooter *ngIf="isFooterVisible" [activeEventColor]="true"></app-commonfooter>