<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-row style="margin-top: 10px;">
      <ion-col size="1" style="text-align: start; margin-left: 10px;">
        <ion-icon name="chevron-back" style="color:white;font-size: x-large;"></ion-icon>
      </ion-col>
      <ion-col size="9" style="text-align: center; margin-top: -3px;">
        <strong class="header" style="color:white;">Connections</strong>
      </ion-col>
      <ion-col style="text-align: end;">
        <!-- <ion-icon name="search-outline" style="color:white; margin-right: 7px;"></ion-icon> -->
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row style="margin-left: 22px;margin-top: 12px;">
    <span style="font-weight: 600;color:white">Connections</span>
  </ion-row>
  <div class="card-gap">
    <ion-grid>
      <ion-row> 
        <ion-col size="12">
          <ion-card class="mall-card border-left-color">
            <ion-card-content>
              <ion-row>
                <ion-col size="4">
                  <img src="../../../assets/Prasenjit_Chanda.png" alt="" class="circle-img">
                </ion-col>
                <ion-col size="5" style="margin-top: 5px;">
                  <span style="margin-left: -62px;">Prasenjit Chanda</span><br>
                  <span style="margin-left: -62px;font-size: x-small;">9434478921</span>
                </ion-col>
                <ion-col size="3">
                  <span style="float:left;font-size: x-small;margin-top: 5px;">05 Apr,2024</span>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>