<ion-content class="fullscreen-content">
  <div class="overlay-container">
    <ion-row class="align overlay">
      <!-- <ion-col size="2">
        <ion-icon 
          style="font-weight: bold; font-size: 22px; color: black;"
          name="close-circle"
          (click)="closeDrawer()">
        </ion-icon>
      </ion-col> -->
      <ion-col size="12" style="text-align: right; color: black;">
        Closes Ad in <b>{{counter}}</b> seconds
      </ion-col>
    </ion-row>
  </div>
  <div class="centered-text">
    <p> Welcome back to the world of trust and goodwill, welcome to aapasmein !</p>
  </div>
  <img src="../../assets/images/introduction/welcome.jpg" class="splash-image" />
</ion-content>