<ion-content>
<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
  <ion-refresher-content></ion-refresher-content>
</ion-refresher>
  <!-- <div class="honeycomb-overlay"></div> -->
  <div class="ion-padding-top ion-padding-horizontal" style="background: #061947;">
    <ion-grid>
      <ion-row>
        <ion-col size="1" style="text-align: start;" >
          <ion-icon name="arrow-back-outline" style="color:white;font-size: x-large;" (click)="dismiss()"></ion-icon>
        </ion-col>
        <ion-col size="8" style="text-align: center; margin-top: -3px;">
          <strong class="header" style="color:white;">Community</strong>
        </ion-col>
        <ion-col style="text-align: end;" (click)="showSearch()" size="2">
          <ion-icon name="search-outline" style="color:white; margin-right: 7px;"></ion-icon>
        </ion-col>
        <ion-col style="text-align: end;" size="1">
          <div class="report-button" (click)="goToReport()">
            <div class="icon-container">
              <ion-icon name="alert" size="large"></ion-icon>
            </div>
          </div>
          <!-- <ion-icon name="alert-circle" style="color:red; margin-right: 7px;font-size: x-large;margin-top: -6px;"></ion-icon> -->
          <!-- <ion-icon name="warning-outline" style="color:white; margin-right: 7px;"></ion-icon> -->
          <!-- <img src="assets/icon/report.png" alt="" class="img-avatar img_align"> -->
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <app-commonsearch class="animated-display" *ngIf="searchFlag"></app-commonsearch>
  <div id="chat-container">
    <div *ngFor="let message of chatMessages; let i = index" [ngClass]="{'bubble-left': message.USER__id !== currentUser?.user_id, 'bubble-right': message.USER__id === currentUser?.user_id}">
      <div [ngClass]="{'message-send': message.USER__id !== currentUser?.user_id, 'message': message.USER__id === currentUser?.user_id}">
        <span [ngClass]="{'online-indicator': message.USER__id === currentUser?.user_id}"></span>
        <b>{{ message.USER__NAME }}</b>
      </div>
      <div class="message-description">{{ message.MESSAGE }}</div><br>
      <div class="message-date">{{ formatDate(message.CREATED_DATE) }}</div>
    </div>
  </div>
  <!-- <div class="bubble-left" *ngFor="let messsage of chatMessages">
    <div class="message"><b>{{message.USER__NAME}}</b></div>
    <div class="message-description">{{message.MESSAGE}}</div><br>
    <div class="message-date">{{message.CREATED_DATE | date:'hh:mm a / dd MM, yyyy '}}</div>
    <div class="message-date">2:39 PM / Thu, 10 Aug</div>
  </div> -->
  <!--
  <div class="bubble-left">
    <div class="message-send"><b>Prasenjit Chanda</b></div>
    <div class="message-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div><br>
  <div class="message-date">2:39 PM / Thu, 10 Aug</div>
  </div> 
    <div class="bubble-right">
    <div class="message-send"><b>Prasenjit Chanda</b></div>
    <div class="message-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div><br>
    <div class="message-date">2:39 PM / Thu, 10 Aug</div>
  </div>
  <div class="bubble-left">
    <div class="message"><b>Mayur Shelar</b></div>
    <div class="message-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div><br>
    <div class="message-date">2:39 PM / Thu, 10 Aug</div>
  </div>
  <div class="bubble-left">
    <div class="message"><b>Mayur Shelar</b></div>
    <div class="message-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div><br>
    <div class="message-date">2:39 PM / Thu, 10 Aug</div>
  </div> -->
  <!-- <div class="bubble-right">
    <div class="message-send"><b>Prasenjit Chanda</b></div>
    <div class="message-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div><br>
    <div class="message-date">2:39 PM / Thu, 10 Aug</div>
  </div>   -->
</ion-content>

<ion-footer>
  <ion-item lines="none" class="custom">
    <ion-textarea #chatInput label-placement="floating" fill="solid" class="custom" rows="1" maxlength="140" [(ngModel)]="editorMsg" (focusin)="onFocus()" clearInput=true>  <!--style="margin-top: 6px;"-->
      <div slot="label">Type a message</div>
    </ion-textarea>
    <ion-button class="send-button" size="medium" fill="clear" [disabled]="disabled" (click)='sendMessage()' slot="end">
      <ion-icon name="send-outline"></ion-icon>
    </ion-button>
  </ion-item>
</ion-footer>