ion-content {
    --background: white;
    background-color: #F8F8F8;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
.header {
    color:#50537a;
    font-size: large;
    font-family: 'Alef';
    margin-top: 2px;
}
#header-icons{
    text-align: right;
    ion-icon{
        color:#50537a;
        font-size: 1.5rem;
    }
}

.border-bottom{
    border-bottom: 1px solid rgba(0,0,0,.16);
    width: 100%;
}
.gap {
    margin-top:15px;
}

.icon_setting {
    margin-left: 22px;
    font-size: x-large;
    color: #54acff;
}
