.header {
    //float:left;
    color:#50537a;
    font-size: large;
    // font-style: oblique;
    //font-family: "Lucida Console", "Courier New", monospace;
    font-family: 'Alef';
    margin-top: 2px;
    //margin-left: 50%;
}
#header-icons{
    text-align: right;
    ion-icon{
        // color: #fff;
        color:#50537a;
        font-size: 1.5rem;
        //margin-left: 16px;
    }
}

.border-bottom{
    border-bottom: 1px solid rgba(0,0,0,.16);
    width: 100%;
}
.gap {
    margin-top:15px;
    //padding: 12px;
    //margin-left: 21px;
}
.form-div{
    padding-left: 32px;
    padding-right: 32px;
    margin-top: 10px;
}

.input-container {
    position: relative;
    // width: 300px; 
    width: 100%; 
    margin-top: 10px; 
  }

.input-label {
    position: absolute;
    top: -10px;
    left: 19px;
    font-size: 14px;
    background-color: #ffffff !important;
    padding: 0 5px;
    color: #333333 !important;
    z-index: 1;
}
.input-group {
    display: flex;
    align-items: center;
    border: 1px solid #e9e9e9 !important;
    border-radius: 12px;
    padding-left: 12px;
    box-sizing: border-box;
}

.input-box {
    flex-grow: 1;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 0; 
    color: #333333;
}
  
.input-box::placeholder {
    // color: #ccc; 
    color: #333333;
}

.input-box:focus {
    outline: none;
    box-shadow: 0 0 5px #333333; /* Change the box shadow color to white */
}
ion-select::part(icon) {
    color: #333333;
    margin-left: 120px !important;
    position: absolute;
}

.ion-select::part(icon) {
    color: #333333;
    margin-left: 290px !important;
}

ion-select {
  --color: #333333; /* Change the selected text color to white */
}

ion-select-option {
  --color: #333333; /* Change the option text color to white */
}

/* To ensure that the dropdown menu itself has the correct background and text color */
ion-select::part(placeholder) {
  color: #333333;
} 

ion-select::part(text) {
  color: #333333;
}

ion-select::part(select-text) {
  color: #333333;
}
.submit-button {
    padding-top: 18px;
    padding-right: 4px;
    padding-left: 4px;
    height: 42px;
    --background: #5261d5;
}