<!-- <ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-row style="margin-top: 10px;">
      <ion-col size="1" style="text-align: start; margin-left: 10px;" (click)="dismiss()">
        <ion-icon name="chevron-back" style="color:white"></ion-icon>
      </ion-col>
      <ion-col size="9" style="text-align: center; margin-top: -3px;">
        <strong class="header" style="color:white;">Profile</strong>
      </ion-col>
      <ion-col style="text-align: end;">
        <ion-icon name="search-outline" style="color:white; margin-right: 7px;"></ion-icon>
        <ion-icon name="ellipsis-vertical-outline" style="color:white; margin-right: 7px;" (click)="openModal()"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: end; margin-right: 7px;">
        <ion-icon name="pencil" style="color:white;" class="icon-circle" *ngIf="!search_id"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <div>
    <div class="honeycomb-overlay"></div>
    <div class="ion-padding-top ion-padding-horizontal" style="background: #061947;">
      <ion-grid>
        <ion-row>
          <ion-col size="1" style="text-align: start; margin-left: 10px;" >
            <ion-icon name="arrow-back-outline" style="color:white;font-size: x-large;" (click)="dismiss()"></ion-icon>
          </ion-col>
          <ion-col size="8" style="text-align: center; margin-top: -3px;margin-left: 15px;">
            <strong class="header" style="color:white;">Your Profile</strong>
          </ion-col>
          <ion-col style="text-align: end;">
            <ion-icon name="pencil" style="color:white;margin-right: 15px;" *ngIf="!search_id" (click)="editProfile()"></ion-icon>
            <!-- <ion-icon name="search-outline" style="color:white; margin-right: 7px;"></ion-icon> -->
            <ion-icon name="ellipsis-vertical-outline" style="color:white; margin-right: -8px;" (click)="openModal()"></ion-icon>        
          </ion-col>
        </ion-row>
        <!-- <ion-row>
          <ion-col style="text-align: end; margin-right: 7px;">
            <ion-icon name="pencil" style="color:white;" class="icon-circle" *ngIf="!search_id"></ion-icon>
          </ion-col>
        </ion-row> -->
      </ion-grid>
    </div>
    <div id="{{search_id ? 'container1' : 'container'}}">
      <!-- <div class="honeycomb-overlay"></div> -->
      <ion-row>
        <ion-col size="12" style="text-align: center;">
          <div class="profile-img-wrapper"> <!--design-frame-->
            <!-- <img src="../../assets/Prasenjit_Chanda.png" class="profile-img-avatar border-white" alt="Profile Picture"/> -->
            <img [src]="selectedImage.data" class="profile-img-avatar" alt="Profile Picture" *ngIf="selectedImage.data!=''"/>
            <!-- <img src="../../assets/avtar4.png" class="profile-img-avatar border-white" *ngIf="selectedImage.data==''"/> -->
            <img src="{{imageUrl}}{{user_details?.PROFILE_IMAGE}}"  class="profile-img-avatar" *ngIf="selectedImage.data==''"/>
            <ion-icon name="camera" class="camera-icon" (click)="presentActionSheet()"></ion-icon>
            <!-- <div class="ribbon">{{search_id!=undefined?profile_details?.NAME?profile_details?.NAME:'Prasenjit Chanda':user_details?.NAME}}</div> -->
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" style="text-align: center;">
          <p class="name-txt"><b>{{search_id!=undefined?profile_details?.NAME?profile_details?.NAME:'Prasenjit Chanda':user_details?.NAME}}</b></p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" style="text-align: center;">
          <p class="name-txt1">{{search_id!=undefined?profile_details?.KEYWORD?profile_details?.KEYWORD:'Software Developer':user_details?.PROFESSION__NAME}}</p>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="search_id!=undefined">
        <ion-col >
          <ion-button fill="outline" class="custom_button no-uppercase">Send a message</ion-button>
        </ion-col>
        <!-- <ion-col size="6">
          <ion-button fill="outline" class="custom_button no-uppercase" (click)="add_advantage()">Add Advantage</ion-button>
        </ion-col> -->
      </ion-row>
      <!-- <ion-row *ngIf="search_id==undefined">
        <ion-col>
          <ion-button fill="outline" class="custom_button no-uppercase" (click)="add_advantage()">Add Advantage</ion-button>
        </ion-col>
      </ion-row> -->
      <ion-row>
        <ion-col size="4" style="text-align: center;" (click)="goToConnections()">
          <ion-icon name="people-outline" style="font-size: x-large; color: white;"></ion-icon>
          <p>Connections</p>
        </ion-col>
        <ion-col size="4" *ngIf="!search_id" style="text-align: center;" (click)="openActivity()"> 
          <ion-icon name="briefcase-outline" style="font-size: x-large; color: white;"></ion-icon>
          <p>Activity</p>
        </ion-col>
        <ion-col size="4" *ngIf="!search_id" style="text-align: center;" (click)="goToSavedItems()">
          <ion-icon name="bookmark-outline" style="font-size: x-large; color: white;"></ion-icon>
          <p>Saved Item</p>
        </ion-col>
      </ion-row>
    </div>
  </div>
  <div class="ion-padding prof-margin">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <span class="text">City</span> <br>
        </ion-col>
        <ion-col size="6">
          <span class="text">Location</span> <br>
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: -8px;">
        <ion-col size="6">
          <span class="text1">{{search_id!=undefined?'Mumbai':user_details?.CITY__NAME?user_details?.CITY__NAME:'No Data'}}</span>
        </ion-col>
        <ion-col size="6">
          <span class="text1">{{search_id!=undefined?'Andheri':user_details?.LOCATION__NAME?user_details?.LOCATION__NAME:'No Data'}}</span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <span class="text">Email Id</span> <br>
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: -8px;">
        <ion-col size="12">
          <span class="text1">{{search_id!=undefined?profile_details?.EMAIL_ID ? profile_details?.EMAIL_ID : 'No Data':user_details?.EMAIL_ID?user_details?.EMAIL_ID:'No Data'}}</span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <span class="text">Phone Number</span> <br>
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: -8px;">
        <ion-col size="12">
          <span class="text1">{{search_id!=undefined?profile_details?.MOBILE_NO ? profile_details?.MOBILE_NO : 'No Data':user_details?.MOBILE_NO?user_details?.MOBILE_NO:'No Data'}}</span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <span class="text">Specialization</span> <br>
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: -8px;">
        <ion-col size="12">
          <span class="text1">{{search_id!=undefined?'Mobile app and website design':user_details?.SPECIALIZATION__NAME?user_details?.SPECIALIZATION__NAME:'No Data'}}</span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <span class="text">Interest</span> <br>
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: -8px;">
        <ion-col size="12">
          <span class="text1">{{search_id!=undefined?'Football, Cricket, Reading Books':user_details?.INTEREST_NAME?user_details?.INTEREST_NAME:'No Data'}}</span>
        </ion-col>
      </ion-row>
      <ion-row style="margin-left: -7px;">
        <ion-col size="12">
          <ion-chip (click)="add_advantage()">
            <!-- <ion-avatar>
              <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-avatar> -->
            <ion-label>Add To Advantage</ion-label>
            <ion-icon name="checkmark-circle" color="success" *ngIf="addAdvantage" ></ion-icon>
            <!-- <ion-icon name="close-circle"></ion-icon> -->
          </ion-chip>
          <!-- <ion-checkbox color="tertiary" #same [(ngModel)]="addAdvantage" (click)="add_advantage()"></ion-checkbox>&nbsp;&nbsp;
          <ion-label style="color:black;">Add Advantage</ion-label> -->
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<app-commonfooter></app-commonfooter>
<!-- <app-connection [connection]="connection_details" *ngIf="connectionFlag"></app-connection> -->












































<!-- <ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-row style="margin-top: 10px;">
      <ion-col size="1" style="text-align: start;margin-left: 10px;" (click)="dismiss()">
        <ion-icon name="chevron-back" style="color:white"></ion-icon>
      </ion-col>
      <ion-col size="9" style="text-align: center;margin-top: -3px;">
        <strong class="header" style="color:white;">Profile</strong>
      </ion-col>
      <ion-col style="text-align: end;">
        <ion-icon name="search-outline"  style="color:white;margin-right: 7px;"></ion-icon>
        <ion-icon name="ellipsis-vertical-outline" style="color:white;margin-right: 7px;" (click)="openModal()"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col style="text-align: end;margin-right: 7px;">
        <ion-icon name="pencil" style="color:white;" class="icon-circle" *ngIf="!search_id"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="{{search_id?'container1':'container'}}" >
    <ion-row>
      <ion-col size="4" style="text-align: center;">
        <div class="profile-img-wrapper">
          <img src="../../assets/Prasenjit_Chanda.png" class="profile-img-avatar border-white" alt="Profile Picture"/>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" >
        <p class="name-txt" style="margin-left: 121px;"><b>{{profile_details?.NAME?profile_details?.NAME:'Prasenjit Chanda'}}</b></p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" >
        <p class="name-txt1" style="margin-left: 140px;">{{profile_details?.KEYWORD?profile_details?.KEYWORD:'Software Developer'}}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-button fill="outline" class="custom_button no-uppercase">Send a message</ion-button>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <ion-icon name="people-outline" style="margin-left: 66px;margin-top: 7px;font-size: x-large;color: white;"></ion-icon>
        <p style="margin-top: 1px;margin-left: 32px;">Connections</p>
      </ion-col>
      <ion-col size="4" *ngIf="!search_id">
        <ion-icon name="briefcase-outline" style="margin-left: 50px;margin-top: 7px;font-size: x-large;color: white;"></ion-icon>
        <p style="margin-top: 1px;margin-left: 37px;">Activity</p>
      </ion-col>
      <ion-col size="4" *ngIf="!search_id">
        <ion-icon name="bookmark-outline" style="margin-left: 38px;margin-top: 7px;font-size: x-large;color: white;"></ion-icon>
        <p style="margin-top: 1px;margin-left: 12px;">Saved Item</p>
      </ion-col>
    </ion-row>
  </div>
  <div class="ion-padding prof-margin">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <span class="text">City</span> <br>
        </ion-col>
        <ion-col size="6">
          <span class="text">Location</span> <br>
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: -8px;">
        <ion-col size="6">
          <span class="text1">Mumbai</span>
        </ion-col>
        <ion-col size="6">
          <span class="text1">Andheri</span>
        </ion-col>
      </ion-row>
      <ion-row >
        <ion-col size="12">
          <span class="text">Email Id</span> <br>
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: -8px;">
        <ion-col size="12">
          <span class="text1">{{profile_details?.EMAIL_ID?profile_details?.EMAIL_ID:'No Data'}}</span>
        </ion-col>
      </ion-row>
      <ion-row >
        <ion-col size="12">
          <span class="text">Phone Number</span> <br>
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: -8px;">
        <ion-col size="12">
          <span class="text1">{{profile_details?.MOBILE_NO}}</span>
        </ion-col>
      </ion-row>
      <ion-row >
        <ion-col size="12">
          <span class="text">Specialization</span> <br>
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: -8px;">
        <ion-col size="12">
          <span class="text1">Mobile app and website design</span>
        </ion-col>
      </ion-row>
      <ion-row >
        <ion-col size="12">
          <span class="text">Interest</span> <br>
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: -8px;">
        <ion-col size="12">
          <span class="text1">Football, Cricket, Reading Books</span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content> -->

<!-- <app-commonfooter></app-commonfooter> -->