<!-- <ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-row style="margin-top: 10px;">
      <ion-col size="1" style="text-align: start; margin-left: 10px;" (click)="dismiss()">
        <ion-icon name="chevron-back" style="color:white"></ion-icon>
      </ion-col>
      <ion-col size="9" style="text-align: center; margin-top: -3px;">
        <strong class="header" style="color:white;">Profile</strong>
      </ion-col>
      <ion-col style="text-align: end;">
        <ion-icon name="search-outline" style="color:white; margin-right: 7px;"></ion-icon>
        <ion-icon name="ellipsis-vertical-outline" style="color:white; margin-right: 7px;" (click)="openModal()"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: end; margin-right: 7px;">
        <ion-icon name="pencil" style="color:white;" class="icon-circle" *ngIf="!search_id"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div>
    <div class="honeycomb-overlay"></div>
    <div class="ion-padding-top ion-padding-horizontal" style="background: #061947;">
      <ion-grid>
        <ion-row>
          <ion-col size="1" style="text-align: start; margin-left: 10px;" >
            <ion-icon name="arrow-back-outline" style="color:white;font-size: x-large;" (click)="dismiss()"></ion-icon>
          </ion-col>
          <ion-col size="8" style="text-align: center; margin-top: -3px;margin-left: 15px;">
            <strong class="header" style="color:white;" *ngIf="routeURL!='acceptrequest'">Your Profile</strong>
          </ion-col>
          <ion-col style="text-align: end;">
            <ion-icon name="pencil" style="color:white;margin-right: 15px;" *ngIf="(currentUser.user_id==search_id || currentUser.user_id==user_details?.id || currentUser.user_id==sender_id)" (click)="editProfile()"></ion-icon>
            <!-- <ion-icon name="search-outline" style="color:white; margin-right: 7px;"></ion-icon> -->
            <ion-icon name="ellipsis-vertical-outline" style="color:white; margin-right: -8px;" (click)="openModal()" *ngIf="routeURL!='acceptrequest'"></ion-icon>   <!--*ngIf="sender_id==undefined"-->     
          </ion-col>
        </ion-row>
        <!-- <ion-row>
          <ion-col style="text-align: end; margin-right: 7px;">
            <ion-icon name="pencil" style="color:white;" class="icon-circle" *ngIf="!search_id"></ion-icon>
          </ion-col>
        </ion-row> -->
      </ion-grid>
    </div>
    <div id="{{((search_id && currentUser.user_id!=search_user_details?.id) || (search_id==undefined && REQUEST_STATUS=='pending')) ? 'container1' : 'container'}}">
      <!-- <div class="honeycomb-overlay"></div> -->
      <ion-row>
        <ion-col size="12" style="text-align: center;">
          <div class="profile-img-wrapper"> <!--design-frame-->
            <!-- <img src="../../assets/Prasenjit_Chanda.png" class="profile-img-avatar border-white" alt="Profile Picture"/> -->
            <img [src]="selectedImage.data" class="profile-img-avatar" alt="Profile Picture" *ngIf="selectedImage.data!=''"/>
            <!-- <img src="../../assets/avtar4.png" class="profile-img-avatar border-white" *ngIf="selectedImage.data==''"/> -->
            <img src="{{user_details?.PROFILE_IMAGE?imageUrl:imageURL}}{{user_details?.PROFILE_IMAGE? user_details?.PROFILE_IMAGE:search_user_details?.PROFILE_IMAGE}}"  class="profile-img-avatar" (click)="zoomImage(user_details?.PROFILE_IMAGE? user_details?.PROFILE_IMAGE:search_user_details?.PROFILE_IMAGE)" *ngIf="(selectedImage.data=='' && user_details?.PROFILE_IMAGE) || search_user_details?.PROFILE_IMAGE!=null"/>
            <!-- <img src="{{imageUrl}}{{search_user_details?.PROFILE_IMAGE}}"  class="profile-img-avatar" *ngIf="search_user_details?.PROFILE_IMAGE && selectedImage.data==''"/> -->
            <img src="../../assets/avtar4.png" alt="" class="profile-img-avatar"  *ngIf="search_user_details?.PROFILE_IMAGE==null && selectedImage.data=='' && !user_details?.PROFILE_IMAGE">
            <ion-icon name="camera" class="camera-icon" (click)="presentActionSheet()" *ngIf="(currentUser.user_id==search_id || currentUser.user_id==user_details?.id || currentUser.user_id==sender_id)"></ion-icon>
            <!-- <div class="ribbon">{{search_id!=undefined?profile_details?.NAME?profile_details?.NAME:'Prasenjit Chanda':user_details?.NAME}}</div> -->
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" style="text-align: center;">
          <p class="name-txt"><b>{{search_id!=undefined?search_user_details?.NAME?search_user_details?.NAME:'No Name':user_details?.NAME}}</b></p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" style="text-align: center;">
          <p class="name-txt1">{{search_id!=undefined?search_user_details?.PROFESSION__NAME?search_user_details?.PROFESSION__NAME:'No Profession':user_details?.PROFESSION__NAME}}</p>
        </ion-col>
      </ion-row>
      <!-- Scholarship Section -->
      <div class="scholarship-section">
        <!-- <h3>Scholarships</h3> -->
        <div class="scroll-container">
          <!-- <button class="scroll-left" >&#9665;</button> -->
          <ion-icon name="chevron-back-outline" class="forward-back-icon" (click)="scrollLeft()"></ion-icon>
          <div class="scholarship-list" #scrollableContainer>
            <div class="scholarship-item" *ngFor="let scholarship of scholarships">
              <ion-icon name="{{scholarship.name}}" class="{{scholarship.classname}}"></ion-icon>
              <!-- <img [src]="scholarship.image" alt="Scholarship Image" class="scholarship-img"> -->
              <!-- <p>{{ scholarship.name }}</p> -->
            </div>
          </div>
          <!-- <button class="scroll-right" (click)="scrollRight()">&#9655;</button> -->
          <ion-icon name="chevron-forward-outline" class="forward-back-icon" (click)="scrollRight()"></ion-icon>
        </div>
      </div>
      <ion-row>
        <ion-col >
          <ion-button fill="outline" class="custom_button no-uppercase" *ngIf="search_id!=undefined && search_user_details?.REACHOUT=='yes'">Send a message</ion-button>
          <ion-button fill="outline" class="custom_button no-uppercase" *ngIf="(search_id!=undefined && search_user_details?.REACHOUT=='no' && currentUser.user_id!=search_user_details?.id) || (search_id==undefined && REQUEST_STATUS=='pending')" (click)="showReachoutDialog()">Reach-out</ion-button>
        </ion-col>
        <!-- <ion-col size="6">
          <ion-button fill="outline" class="custom_button no-uppercase" (click)="add_advantage()">Add Advantage</ion-button>
        </ion-col> -->
      </ion-row>
      <!-- <ion-row *ngIf="search_id==undefined">
        <ion-col>
          <ion-button fill="outline" class="custom_button no-uppercase" (click)="add_advantage()">Add Advantage</ion-button>
        </ion-col>
      </ion-row> -->
      <ion-row>
        <ion-col size="4" style="text-align: center;" (click)="goToConnections()" *ngIf="routeURL!='acceptrequest'">
          <ion-icon name="people-outline" style="font-size: xx-large; color: white;"></ion-icon>
          <p>My Connections</p>
        </ion-col>
        <ion-col size="4" style="text-align: center;">
          <ion-icon name="call-outline" style="font-size: xx-large; color: white;" (click)="makeCall()" *ngIf="search_id!=undefined && search_user_details?.REACHOUT=='yes'"></ion-icon>
          <p *ngIf="search_id!=undefined && search_user_details?.REACHOUT=='yes'">Want a Call</p>
        </ion-col>
        <!-- <ion-col size="3" *ngIf="!search_id" style="text-align: center;" (click)="openActivity()"> 
          <ion-icon name="briefcase-outline" style="font-size: x-large; color: white;"></ion-icon>
          <p>Activity</p>
        </ion-col>
        <ion-col size="3" *ngIf="!search_id" style="text-align: center;" (click)="goToSavedItems()">
          <ion-icon name="bookmark-outline" style="font-size: x-large; color: white;"></ion-icon>
          <p>Saved Item</p>
        </ion-col> -->
        <ion-col size="4" style="text-align: center;" (click)="goToAccolade()">
          <ion-icon name="trophy-outline" style="font-size: xx-large; color: white;"></ion-icon>
          <p>Accolades</p>
        </ion-col>
      </ion-row>
    </div>
  </div>
  <div class="ion-padding" [ngClass]="{'prof-margin1': search_id, 'prof-margin': !search_id}" *ngIf="(search_id==undefined && REQUEST_STATUS!='pending') || (search_id!=undefined && (search_user_details?.REACHOUT=='yes' || search_user_details?.HANDSHAKE=='yes')) || (search_id!=undefined && search_user_details?.REACHOUT=='no' && currentUser.user_id==search_user_details?.id)">
    <ion-grid>
      <!-- <ion-row>
        <ion-col size="6">
          <span class="text">City</span> <br>
        </ion-col>
        <ion-col size="6">
          <span class="text">Location</span> <br>
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: -8px;">
        <ion-col size="6">
          <span class="text1">{{search_id!=undefined?search_user_details?.CITY__NAME?search_user_details?.CITY__NAME:'No City':user_details?.CITY__NAME?user_details?.CITY__NAME:'No Data'}}</span>
        </ion-col>
        <ion-col size="6">
          <span class="text1">{{search_id!=undefined?search_user_details?.LOCATION__NAME?search_user_details?.LOCATION__NAME:'No Location':user_details?.LOCATION__NAME?user_details?.LOCATION__NAME:'No Location'}}</span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <span class="text">Email Id</span> <br>
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: -8px;">
        <ion-col size="12">
          <span class="text1">{{search_id!=undefined?search_user_details?.EMAIL_ID ? search_user_details?.EMAIL_ID : 'No Email':user_details?.EMAIL_ID?user_details?.EMAIL_ID:'No Email'}}</span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <span class="text">Phone Number</span> <br>
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: -8px;">
        <ion-col size="12">
          <span class="text1">{{search_id!=undefined?search_user_details?.MOBILE_NO ? search_user_details?.MOBILE_NO : 'No Data':user_details?.MOBILE_NO?user_details?.MOBILE_NO:'No Data'}}</span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <span class="text">Profession</span> <br>
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: -8px;">
        <ion-col size="12">
          <span class="text1">{{search_id!=undefined?search_user_details?.PROFESSION__NAME?search_user_details?.PROFESSION__NAME:'No Profession':user_details?.PROFESSION__NAME}}</span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <span class="text">Specialization</span> <br>
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: -8px;">
        <ion-col size="12">
          <span class="text1">{{search_id!=undefined?search_user_details?.SPECIALIZATION__NAME?search_user_details?.SPECIALIZATION__NAME:'No Data':user_details?.SPECIALIZATION}}</span>
        </ion-col>
      </ion-row>
      <ion-row >
        <ion-col size="12">
          <span class="text">Interest</span> <br>
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: -8px;">
        <ion-col size="12">
          <span class="text1">{{search_id!=undefined?search_user_details?.INTEREST_NAME?search_user_details?.INTEREST_NAME:'No Data':user_details?.INTEREST_NAME?user_details?.INTEREST_NAME:'No Data'}}</span>
        </ion-col>
      </ion-row> -->
      <ion-row class="info-row">
        <ion-col size="6" class="info-col">
          <ion-icon name="business-outline" class="icon"></ion-icon>
          <div class="info-text">
            <span class="text">City</span>
            <span class="text1">{{search_id!=undefined?search_user_details?.CITY__NAME?search_user_details?.CITY__NAME:'No City':user_details?.CITY__NAME?user_details?.CITY__NAME:'No Data'}}</span>
          </div>
        </ion-col>
        <ion-col size="6" class="info-col">
          <ion-icon name="location-outline" class="icon"></ion-icon>
          <div class="info-text">
            <span class="text">Location</span>
            <span class="text1">{{search_id!=undefined?search_user_details?.LOCATION__NAME?search_user_details?.LOCATION__NAME:'No Location':user_details?.LOCATION__NAME?user_details?.LOCATION__NAME:'No Location'}}</span>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="info-row">
        <ion-col size="12" class="info-col">
          <ion-icon name="mail-outline" class="icon"></ion-icon>
          <div class="info-text">
            <span class="text">Email Id</span>
            <span class="text1">{{search_id!=undefined?search_user_details?.EMAIL_ID ? search_user_details?.EMAIL_ID : 'No Email':user_details?.EMAIL_ID?user_details?.EMAIL_ID:'No Email'}}</span>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="info-row">
        <ion-col size="12" class="info-col">
          <ion-icon name="call-outline" class="icon"></ion-icon>
          <div class="info-text">
            <span class="text">Phone Number</span>
            <span class="text1">{{search_id!=undefined?search_user_details?.MOBILE_NO ? search_user_details?.MOBILE_NO : 'No Data':user_details?.MOBILE_NO?user_details?.MOBILE_NO:'No Data'}}</span>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="info-row">
        <ion-col size="12" class="info-col">
          <ion-icon name="card-outline" class="icon"></ion-icon>
          <div class="info-text">
            <span class="text">Profession</span>
            <span class="text1">{{search_id!=undefined?search_user_details?.PROFESSION__NAME?search_user_details?.PROFESSION__NAME:'No Profession':user_details?.PROFESSION__NAME}}</span>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="info-row">
        <ion-col size="12" class="info-col">
          <ion-icon name="medal-outline" class="icon" ></ion-icon>
          <div class="info-text">
            <span class="text">Specialization</span>
            <span class="text1">{{search_id!=undefined?search_user_details?.SPECIALIZATION__NAME?search_user_details?.SPECIALIZATION__NAME:'No Data':user_details?.SPECIALIZATION}}</span>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="info-row">
        <ion-col size="12" class="info-col">
          <ion-icon name="heart-outline" class="icon"></ion-icon>
          <div class="info-text">
            <span class="text">Interest</span>
            <span class="text1">{{search_id!=undefined?search_user_details?.INTEREST_NAME?search_user_details?.INTEREST_NAME:'No Data':user_details?.INTEREST_NAME?user_details?.INTEREST_NAME:'No Data'}}</span>
          </div>
        </ion-col>
      </ion-row>
      <ion-row style="margin-left: -7px;" *ngIf="(currentUser.user_id==search_id || currentUser.user_id==user_details?.id || currentUser.user_id==sender_id)">
        <ion-col size="6">
          <ion-chip (click)="add_advantage()">
            <!-- <ion-avatar>
              <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-avatar> -->
            <ion-label class="label">Add To Advantage</ion-label>
            <ion-icon name="checkmark-circle" color="success" *ngIf="addAdvantage" ></ion-icon>
            <!-- <ion-icon name="close-circle"></ion-icon> -->
          </ion-chip>
          <!-- <ion-checkbox color="tertiary" #same [(ngModel)]="addAdvantage" (click)="add_advantage()"></ion-checkbox>&nbsp;&nbsp;
          <ion-label style="color:black;">Add Advantage</ion-label> -->
        </ion-col>
        <ion-col size="6" (click)="delete_dialog()">
          <div class="chip-container">
            <ion-chip class="delete_account">
              <ion-icon name="trash" class="delete_icon"></ion-icon>
              <ion-label class="label"><b>Delete My Account</b></ion-label>
            </ion-chip>
          </div>
        </ion-col>
      </ion-row>
      <!-- <ion-row style="margin-left: -7px;" *ngIf="(currentUser.user_id==search_id || currentUser.user_id==user_details?.id || currentUser.user_id==sender_id)">
        <ion-col size="12">
          <div class="chip-container">
            <ion-chip class="delete_account">
              <ion-icon name="trash" class="delete_icon"></ion-icon>
              <ion-label>My Account</ion-label>
            </ion-chip>
          </div>
        </ion-col>
      </ion-row> -->
    </ion-grid>
  </div>
</ion-content>

<app-commonfooter></app-commonfooter>
<!-- <app-connection [connection]="connection_details" *ngIf="connectionFlag"></app-connection> -->












































<!-- <ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-row style="margin-top: 10px;">
      <ion-col size="1" style="text-align: start;margin-left: 10px;" (click)="dismiss()">
        <ion-icon name="chevron-back" style="color:white"></ion-icon>
      </ion-col>
      <ion-col size="9" style="text-align: center;margin-top: -3px;">
        <strong class="header" style="color:white;">Profile</strong>
      </ion-col>
      <ion-col style="text-align: end;">
        <ion-icon name="search-outline"  style="color:white;margin-right: 7px;"></ion-icon>
        <ion-icon name="ellipsis-vertical-outline" style="color:white;margin-right: 7px;" (click)="openModal()"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col style="text-align: end;margin-right: 7px;">
        <ion-icon name="pencil" style="color:white;" class="icon-circle" *ngIf="!search_id"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="{{search_id?'container1':'container'}}" >
    <ion-row>
      <ion-col size="4" style="text-align: center;">
        <div class="profile-img-wrapper">
          <img src="../../assets/Prasenjit_Chanda.png" class="profile-img-avatar border-white" alt="Profile Picture"/>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" >
        <p class="name-txt" style="margin-left: 121px;"><b>{{profile_details?.NAME?profile_details?.NAME:'Prasenjit Chanda'}}</b></p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" >
        <p class="name-txt1" style="margin-left: 140px;">{{profile_details?.KEYWORD?profile_details?.KEYWORD:'Software Developer'}}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-button fill="outline" class="custom_button no-uppercase">Send a message</ion-button>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <ion-icon name="people-outline" style="margin-left: 66px;margin-top: 7px;font-size: x-large;color: white;"></ion-icon>
        <p style="margin-top: 1px;margin-left: 32px;">Connections</p>
      </ion-col>
      <ion-col size="4" *ngIf="!search_id">
        <ion-icon name="briefcase-outline" style="margin-left: 50px;margin-top: 7px;font-size: x-large;color: white;"></ion-icon>
        <p style="margin-top: 1px;margin-left: 37px;">Activity</p>
      </ion-col>
      <ion-col size="4" *ngIf="!search_id">
        <ion-icon name="bookmark-outline" style="margin-left: 38px;margin-top: 7px;font-size: x-large;color: white;"></ion-icon>
        <p style="margin-top: 1px;margin-left: 12px;">Saved Item</p>
      </ion-col>
    </ion-row>
  </div>
  <div class="ion-padding prof-margin">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <span class="text">City</span> <br>
        </ion-col>
        <ion-col size="6">
          <span class="text">Location</span> <br>
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: -8px;">
        <ion-col size="6">
          <span class="text1">Mumbai</span>
        </ion-col>
        <ion-col size="6">
          <span class="text1">Andheri</span>
        </ion-col>
      </ion-row>
      <ion-row >
        <ion-col size="12">
          <span class="text">Email Id</span> <br>
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: -8px;">
        <ion-col size="12">
          <span class="text1">{{profile_details?.EMAIL_ID?profile_details?.EMAIL_ID:'No Data'}}</span>
        </ion-col>
      </ion-row>
      <ion-row >
        <ion-col size="12">
          <span class="text">Phone Number</span> <br>
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: -8px;">
        <ion-col size="12">
          <span class="text1">{{profile_details?.MOBILE_NO}}</span>
        </ion-col>
      </ion-row>
      <ion-row >
        <ion-col size="12">
          <span class="text">Specialization</span> <br>
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: -8px;">
        <ion-col size="12">
          <span class="text1">Mobile app and website design</span>
        </ion-col>
      </ion-row>
      <ion-row >
        <ion-col size="12">
          <span class="text">Interest</span> <br>
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: -8px;">
        <ion-col size="12">
          <span class="text1">Football, Cricket, Reading Books</span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content> -->

<!-- <app-commonfooter></app-commonfooter> -->