<!-- add-convenience.page.html -->
<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Your Modal Title</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <!-- Your modal content goes here -->
  <div>
    <ion-grid>
      <ion-row>
        <ion-col style="text-align: end;" (click)="closeModal()">
          <ion-icon name="close-outline" style="color:black;font-size: x-large;"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="10" style="text-align: center; margin-top: -3px;">
          <strong class="header" style="color:black;">Add aapasmein Community</strong>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="form-div">
    <ion-row>
      <ion-col size="12">
        <div class="input-container">
          <ion-label class="input-label required">Title</ion-label>
            <div class="input-group">
              <ion-input class="input-box" type="text" [(ngModel)]="communityJson.title"></ion-input>
            </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <div class="input-container">
          <ion-label class="input-label required">Description</ion-label>
            <div class="input-group">
              <ion-textarea class="input-box" type="text" rows="8" [(ngModel)]="communityJson.description"></ion-textarea>
            </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="row-align">
      <ion-button  type="submit" class="custom_button" [disabled]="disabled" (click)="add_community()"><b>Submit</b></ion-button>
    </ion-row>
  </div>
</ion-content>