ion-content {
    --background: none;
    //background-image: url('../../assets/dashboard-bg.png');
    // background-color: #c5e3ff;
    background-color: #071947;
    // background-color: #c5e3ffa6;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
.gap{
    margin-top: 25px;
    margin-left: 27px;
    // margin-right: 15px;
}
.gap1{
    margin-top: 5px;
}
.circle-img {
    border-radius: 50%;
    width: 50%;
    height: 40%;
    margin-left: -12px;
    // margin-top: -4px;
    // margin-left: 19px;
}
.row-card {
    background-color: #d2edff;
    margin-top:5px;
}
.row-card1 {
    background-color: #25345c;
    margin-top:5px;
}
.blue-dot {
    width: 7px;
    height: 7px;
    background-color: #54acff;
    border-radius: 50%;
    margin-top: 4px;/* Adjust this value to vertically center the dot */
    margin-left: 7px;
}