<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="honeycomb-overlay"></div>
  <div class="ion-padding-top ion-padding-horizontal" style="background: #061947;">
    <ion-grid>
      <ion-row>
        <ion-col size="1" style="text-align: start;" (click)="dismiss()">
          <ion-icon name="arrow-back-outline" style="color:white;font-size: x-large;"></ion-icon>
        </ion-col>
        <ion-col size="9" style="text-align: center; margin-top: -3px;">
          <strong class="header" style="color:white;">Notifications</strong>
        </ion-col>
        <!-- <ion-col style="text-align: end;">
          <ion-icon name="search-outline" style="color:white; margin-right: 7px;"></ion-icon>
        </ion-col> -->
      </ion-row>
    </ion-grid>
  </div>

  <!-- <div>
    <ion-button size="small" slot="start" style="float:right;font-size: small;margin-right: 24px;text-transform: none;" (click)="clearNotifications()">Clear</ion-button>
  </div> -->

  <!-- Dynamic Activity Categories -->
  <div *ngIf="dataLoaded && (categorizedData.today.length > 0 || categorizedData.yesterday.length > 0 || categorizedData.last7days.length > 0 || categorizedData.older.length > 0)">
    <ng-container *ngFor="let category of categoryLabels">
      <div class="gap" *ngIf="categorizedData[category.key]?.length">
        <span style="color:#ffffff;font-size: medium;margin-top: 3px;font-weight: 500;">{{ category.label }}</span><br>
      </div>

      <ng-container *ngFor="let notification of categorizedData[category.key]">
        <div class="gap1">
          <ion-grid class="row-card1">
            <ion-row style="margin-left: 10px;">
              <ion-col size="1">
                <div class="blue-dot"></div>
              </ion-col>
              <ion-col size="2">
                <img src="{{imageURL}}{{notification.type=='accepted_convenience'?notification.image:notification.user_img}}" class="circle-img" *ngIf="notification.type=='accepted_convenience'?notification.image:notification.user_img">
                <img src="../../assets/avtar4.png" alt="" class="circle-img" *ngIf="notification.type=='accepted_convenience'?!notification.image:!notification.user_img">
              </ion-col>
              <ion-col size="9" style="margin-left: -30px;">
                <span style="float:left;font-size: 14px;color:white;font-weight: 600;">{{ notification.type=='accepted_convenience'?notification.CONVENIENCE_NAME:notification.user_name}}</span>
                <span style="float:right;margin-top: 4px;margin-right: -15px;font-size: x-small;color:white;">{{ notification.CREATED_DATE | date:'dd MMM yyyy hh:mm a'}}</span>
                <br>
                <span style="float:left;font-size: x-small;color:white;" *ngIf="notification.type!='accepted_convenience'">{{ notification.message}}</span>
                <span style="float:left;font-size: x-small;color:white;" *ngIf="notification.type=='accepted_convenience'">{{notification.CONVENIENCE_NAME}} has accepted your convenience request. Please take an appropriate decision.</span>
                <br><br>
                <div class="badge-container" *ngIf="notification.type=='accepted_convenience'">
                  <ion-badge class="badge-color-accept" mode="md" style="margin-top: -18px;" *ngIf="notification.type=='accepted_convenience' && notification.accept_text == 'Accepted'" >{{notification.accept_text}}</ion-badge>
                  <ion-badge class="badge-color-reject" mode="md" style="margin-right: 6px;margin-top: -18px;"  *ngIf="notification.type=='accepted_convenience' && notification.reject_text == 'Rejected'">{{notification.reject_text}}</ion-badge>

                  <ion-badge class="badge-color-accept" mode="md" style="margin-top: -18px;" *ngIf="notification.type=='accepted_convenience' && notification.USER_APPROVED == false" (click)="approve_convenience(notification, 'accept', category.key)">Accept</ion-badge>
                  <ion-badge class="badge-color-reject" mode="md" style="margin-right: 6px;margin-top: -18px;"  *ngIf="notification.type=='accepted_convenience' && notification.USER_APPROVED == false" (click)="approve_convenience(notification, 'reject', category.key)">Reject</ion-badge>
                  <!-- <ion-badge class="badge-color" mode="md">{{activity.request_type=='accepted_invitation'?'Invitation':(activity.request_type=='received_handshake_accepted_reject' || activity.request_type=='sent_handshake_accepted_reject')?'Handshake':(activity.request_type=='sent_reachout_accepted_rejected' || activity.request_type=='received_reachout_accepted_rejected')?'Reach Out':''}}</ion-badge> -->
                  <!-- <span style="float:left;font-size: x-small;color:#1568fa;" (click)="markAsRead(activity)">Mark as Read</span>
                  <span style="float:right;font-size: x-small;color:#1568fa;margin-right: 130px;" (click)="deleteNotification(activity)">Delete</span> -->
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ng-container>
    </ng-container>
  </div>
  <div class="no-data" *ngIf="dataLoaded && categorizedData.today.length == 0 && categorizedData.yesterday.length == 0 && categorizedData.last7days.length == 0 && categorizedData.older.length == 0">
    <img class="watermark-image" src="../../assets/no-data-found.png" alt="No Data">
    <span class="no-data-text">No Notification Data</span>
  </div>

  <br><br>
</ion-content>

<app-commonfooter></app-commonfooter>

<!-- <ion-content>
  <div class="honeycomb-overlay"></div>
  <div class="ion-padding-top ion-padding-horizontal" style="background: #061947;">
    <ion-grid>
      <ion-row>
        <ion-col size="1" style="text-align: start;" (click)="dismiss()">
          <ion-icon name="arrow-back-outline" style="color:white;font-size: x-large;"></ion-icon>
        </ion-col>
        <ion-col size="9" style="text-align: center; margin-top: -3px;">
          <strong class="header" style="color:white;">Notifications</strong>
        </ion-col>
        <ion-col style="text-align: end;">
          <ion-icon name="search-outline" style="color:white; margin-right: 7px;"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div>
    <ion-button  size="small" slot="start" style="float:right;font-size: small;margin-right: 24px;text-transform: none;">Clear</ion-button>
  </div>
  <div class="gap">
    <span style="color:#ffffff;font-size: medium;margin-top: 3px;font-weight: 500;">Today</span><br>
  </div>
  <div class="gap1">
    <ion-grid class="row-card">
      <ion-row style="margin-left: 10px;">
        <ion-col size="1">
          <div class="blue-dot"></div>
        </ion-col>
        <ion-col size="2">
          <img src="../../../assets/avtar5.png" alt="" class="circle-img">
        </ion-col>
        <ion-col size="9" style="margin-left: -30px;">
          <span style="float:left;font-size: 14px;color:black;font-weight: 600;">Mayur Shelar</span><span style="float:right;margin-top: 4px;margin-right: -15px;font-size: x-small;color:#1c1c1c;">03.28 PM</span>
          <br>
          <span style="float:left;font-size: x-small;color:black;">Lorem Ipsum is simply dummy text.Lorem Ipsum is simply dummy text.</span>
          <br>
          <br>
          <span style="float:left;font-size: x-small;color:#1568fa;">Mark as Read</span><span style="float:right;font-size: x-small;color:#1568fa;margin-right: 130px;">Delete</span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="gap1">
    <ion-grid class="row-card">
      <ion-row style="margin-left: 10px;">
        <ion-col size="1">
          <div class="blue-dot"></div>
        </ion-col>
        <ion-col size="2">
          <img src="../../../assets/avtar1.jpg" alt="" class="circle-img">
        </ion-col>
        <ion-col size="9" style="margin-left: -30px;">
          <span style="float:left;font-size: 14px;color:black;font-weight: 600;">You have received 1 message</span><span style="float:right;margin-top: 4px;margin-right: -15px;font-size: x-small;color:#1c1c1c;">02.00 PM</span>
          <br>
          <span style="float:left;font-size: x-small;color:black;">Lorem Ipsum is simply dummy text.Lorem Ipsum is simply dummy text.</span>
          <br>
          <br>
          <span style="float:left;font-size: x-small;color:#1568fa;">Mark as Read</span><span style="float:right;font-size: x-small;color:#1568fa;margin-right: 130px;">Delete</span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="gap1">
    <ion-grid class="row-card">
      <ion-row style="margin-left: 10px;">
        <ion-col size="1">
          <div class="blue-dot"></div>
        </ion-col>
        <ion-col size="2">
          <img src="../../../assets/avtar3.png" alt="" class="circle-img">
        </ion-col>
        <ion-col size="9" style="margin-left: -30px;">
          <span style="float:left;font-size: 14px;color:black;font-weight: 600;">Meeting with Aakash</span><span style="float:right;margin-top: 4px;margin-right: -15px;font-size: x-small;color:#1c1c1c;">01.30 PM</span>
          <br>
          <span style="float:left;font-size: x-small;color:black;">Lorem Ipsum is simply dummy text.Lorem Ipsum is simply dummy text.</span>
          <br>
          <br>
          <span style="float:left;font-size: x-small;color:#1568fa;">Mark as Read</span><span style="float:right;font-size: x-small;color:#1568fa;margin-right: 130px;">Delete</span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="gap">
    <span style="color:#ffffff;font-size: medium;margin-top: 3px;font-weight: 500;">This Week</span><br>
  </div>
  <div class="gap1">
    <ion-grid class="row-card1">
      <ion-row style="margin-left: 10px;">
        <ion-col size="1">
          <div class="blue-dot"></div>
        </ion-col>
        <ion-col size="2">
          <img src="../../../assets/avtar5.png" alt="" class="circle-img">
        </ion-col>
        <ion-col size="9" style="margin-left: -30px;">
          <span style="float:left;font-size: 14px;color:#ffffff;font-weight: 600;">Mayur Shelar</span><span style="float:right;margin-top: 4px;margin-right: -15px;font-size: x-small;color:#ffffff;">03.28 PM</span>
          <br>
          <span style="float:left;font-size: x-small;color:#ffffff;">Lorem Ipsum is simply dummy text.Lorem Ipsum is simply dummy text.</span>
          <br>
          <br>
          <span style="float:left;font-size: x-small;color:#1568fa;">Mark as Read</span><span style="float:right;font-size: x-small;color:#1568fa;margin-right: 130px;">Delete</span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="gap1">
    <ion-grid class="row-card">
      <ion-row style="margin-left: 10px;">
        <ion-col size="1">
          <div class="blue-dot"></div>
        </ion-col>
        <ion-col size="2">
          <img src="../../../assets/avtar1.jpg" alt="" class="circle-img">
        </ion-col>
        <ion-col size="9" style="margin-left: -30px;">
          <span style="float:left;font-size: 14px;color:black;font-weight: 600;">You have received 1 message</span><span style="float:right;margin-top: 4px;margin-right: -15px;font-size: x-small;color:#1c1c1c;">02.00 PM</span>
          <br>
          <span style="float:left;font-size: x-small;color:black;">Lorem Ipsum is simply dummy text.Lorem Ipsum is simply dummy text.</span>
          <br>
          <br>
          <span style="float:left;font-size: x-small;color:#1568fa;">Mark as Read</span><span style="float:right;font-size: x-small;color:#1568fa;margin-right: 130px;">Delete</span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="gap1">
    <ion-grid class="row-card1">
      <ion-row style="margin-left: 10px;">
        <ion-col size="1">
          <div class="blue-dot"></div>
        </ion-col>
        <ion-col size="2">
          <img src="../../../assets/avtar5.png" alt="" class="circle-img">
        </ion-col>
        <ion-col size="9" style="margin-left: -30px;">
          <span style="float:left;font-size: 14px;color:#ffffff;font-weight: 600;">Meeting with Akash</span><span style="float:right;margin-top: 4px;margin-right: -15px;font-size: x-small;color:#ffffff;">03.28 PM</span>
          <br>
          <span style="float:left;font-size: x-small;color:#ffffff;">Lorem Ipsum is simply dummy text.Lorem Ipsum is simply dummy text.</span>
          <br>
          <br>
          <span style="float:left;font-size: x-small;color:#1568fa;">Mark as Read</span><span style="float:right;font-size: x-small;color:#1568fa;margin-right: 130px;">Delete</span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <br>
  <br>
</ion-content>

<app-commonfooter></app-commonfooter> -->