<ion-content>
  <div class="honeycomb-overlay"></div>
  <div class="ion-padding-top ion-padding-horizontal" style="background: #061947;">
    <ion-grid>
      <ion-row>
        <ion-col size="1" style="text-align: start;" (click)="dismiss()">
          <ion-icon name="arrow-back-outline" style="color:white;font-size: x-large;"></ion-icon>
        </ion-col>
        <ion-col size="9" style="text-align: center; margin-top: -3px;">
          <strong class="header" style="color:white;">Notifications</strong>
        </ion-col>
        <ion-col style="text-align: end;">
          <ion-icon name="search-outline" style="color:white; margin-right: 7px;"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div>
    <ion-button  size="small" slot="start" style="float:right;font-size: small;margin-right: 24px;text-transform: none;">Clear</ion-button>
  </div>
  <div class="gap">
    <span style="color:#ffffff;font-size: medium;margin-top: 3px;font-weight: 500;">Today</span><br>
  </div>
  <div class="gap1">
    <ion-grid class="row-card">
      <ion-row style="margin-left: 10px;">
        <ion-col size="1">
          <div class="blue-dot"></div>
        </ion-col>
        <ion-col size="2">
          <img src="../../../assets/avtar5.png" alt="" class="circle-img">
        </ion-col>
        <ion-col size="9" style="margin-left: -30px;">
          <span style="float:left;font-size: 14px;color:black;font-weight: 600;">Mayur Shelar</span><span style="float:right;margin-top: 4px;margin-right: -15px;font-size: x-small;color:#1c1c1c;">03.28 PM</span>
          <br>
          <span style="float:left;font-size: x-small;color:black;">Lorem Ipsum is simply dummy text.Lorem Ipsum is simply dummy text.</span>
          <br>
          <br>
          <span style="float:left;font-size: x-small;color:#1568fa;">Mark as Read</span><span style="float:right;font-size: x-small;color:#1568fa;margin-right: 130px;">Delete</span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="gap1">
    <ion-grid class="row-card">
      <ion-row style="margin-left: 10px;">
        <ion-col size="1">
          <div class="blue-dot"></div>
        </ion-col>
        <ion-col size="2">
          <img src="../../../assets/avtar1.jpg" alt="" class="circle-img">
        </ion-col>
        <ion-col size="9" style="margin-left: -30px;">
          <span style="float:left;font-size: 14px;color:black;font-weight: 600;">You have received 1 message</span><span style="float:right;margin-top: 4px;margin-right: -15px;font-size: x-small;color:#1c1c1c;">02.00 PM</span>
          <br>
          <span style="float:left;font-size: x-small;color:black;">Lorem Ipsum is simply dummy text.Lorem Ipsum is simply dummy text.</span>
          <br>
          <br>
          <span style="float:left;font-size: x-small;color:#1568fa;">Mark as Read</span><span style="float:right;font-size: x-small;color:#1568fa;margin-right: 130px;">Delete</span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="gap1">
    <ion-grid class="row-card">
      <ion-row style="margin-left: 10px;">
        <ion-col size="1">
          <div class="blue-dot"></div>
        </ion-col>
        <ion-col size="2">
          <img src="../../../assets/avtar3.png" alt="" class="circle-img">
        </ion-col>
        <ion-col size="9" style="margin-left: -30px;">
          <span style="float:left;font-size: 14px;color:black;font-weight: 600;">Meeting with Aakash</span><span style="float:right;margin-top: 4px;margin-right: -15px;font-size: x-small;color:#1c1c1c;">01.30 PM</span>
          <br>
          <span style="float:left;font-size: x-small;color:black;">Lorem Ipsum is simply dummy text.Lorem Ipsum is simply dummy text.</span>
          <br>
          <br>
          <span style="float:left;font-size: x-small;color:#1568fa;">Mark as Read</span><span style="float:right;font-size: x-small;color:#1568fa;margin-right: 130px;">Delete</span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="gap">
    <span style="color:#ffffff;font-size: medium;margin-top: 3px;font-weight: 500;">This Week</span><br>
  </div>
  <div class="gap1">
    <ion-grid class="row-card1">
      <ion-row style="margin-left: 10px;">
        <ion-col size="1">
          <div class="blue-dot"></div>
        </ion-col>
        <ion-col size="2">
          <img src="../../../assets/avtar5.png" alt="" class="circle-img">
        </ion-col>
        <ion-col size="9" style="margin-left: -30px;">
          <span style="float:left;font-size: 14px;color:#ffffff;font-weight: 600;">Mayur Shelar</span><span style="float:right;margin-top: 4px;margin-right: -15px;font-size: x-small;color:#ffffff;">03.28 PM</span>
          <br>
          <span style="float:left;font-size: x-small;color:#ffffff;">Lorem Ipsum is simply dummy text.Lorem Ipsum is simply dummy text.</span>
          <br>
          <br>
          <span style="float:left;font-size: x-small;color:#1568fa;">Mark as Read</span><span style="float:right;font-size: x-small;color:#1568fa;margin-right: 130px;">Delete</span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="gap1">
    <ion-grid class="row-card">
      <ion-row style="margin-left: 10px;">
        <ion-col size="1">
          <div class="blue-dot"></div>
        </ion-col>
        <ion-col size="2">
          <img src="../../../assets/avtar1.jpg" alt="" class="circle-img">
        </ion-col>
        <ion-col size="9" style="margin-left: -30px;">
          <span style="float:left;font-size: 14px;color:black;font-weight: 600;">You have received 1 message</span><span style="float:right;margin-top: 4px;margin-right: -15px;font-size: x-small;color:#1c1c1c;">02.00 PM</span>
          <br>
          <span style="float:left;font-size: x-small;color:black;">Lorem Ipsum is simply dummy text.Lorem Ipsum is simply dummy text.</span>
          <br>
          <br>
          <span style="float:left;font-size: x-small;color:#1568fa;">Mark as Read</span><span style="float:right;font-size: x-small;color:#1568fa;margin-right: 130px;">Delete</span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="gap1">
    <ion-grid class="row-card1">
      <ion-row style="margin-left: 10px;">
        <ion-col size="1">
          <div class="blue-dot"></div>
        </ion-col>
        <ion-col size="2">
          <img src="../../../assets/avtar5.png" alt="" class="circle-img">
        </ion-col>
        <ion-col size="9" style="margin-left: -30px;">
          <span style="float:left;font-size: 14px;color:#ffffff;font-weight: 600;">Meeting with Akash</span><span style="float:right;margin-top: 4px;margin-right: -15px;font-size: x-small;color:#ffffff;">03.28 PM</span>
          <br>
          <span style="float:left;font-size: x-small;color:#ffffff;">Lorem Ipsum is simply dummy text.Lorem Ipsum is simply dummy text.</span>
          <br>
          <br>
          <span style="float:left;font-size: x-small;color:#1568fa;">Mark as Read</span><span style="float:right;font-size: x-small;color:#1568fa;margin-right: 130px;">Delete</span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <br>
  <br>
</ion-content>

<app-commonfooter></app-commonfooter>