ion-content {
    --background: none;
    //background-image: url('../../assets/dashboard-bg.png');
    // background-color: #c5e3ff;
    background-color: #071947;
    // background-color: #c5e3ffa6;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
.gap{
    margin-top: 25px;
    margin-left: 27px;
    // margin-right: 15px;
}
.gap1{
    margin-top: 5px;
}
.circle-img {
    // border-radius: 50%;
    // width: 50%;
    // height: 40%;
    // margin-left: -12px;
    border-radius: 50%;
    width: 30px;  /* or any desired fixed size */
    height: 30px; /* ensure width and height are equal */
    object-fit: cover; /* makes sure the image scales to cover the circle */
    margin-left: -12px;
}
.row-card {
    background-color: #d2edff;
    margin-top:5px;
}
.row-card1 {
    background-color: #25345c;
    margin-top:5px;
}
.blue-dot {
    width: 7px;
    height: 7px;
    background-color: #54acff;
    border-radius: 50%;
    margin-top: 4px;/* Adjust this value to vertically center the dot */
    margin-left: 7px;
}
.badge-color{
    float: right;
    // background: #f4ebff;
    background: #2c61b6;
    color:white;
    height: 20px;
    // width: 25px;
    --padding-end: 7px;
    --padding-start: 7px;
}
.badge-color-accept{
    float: right;
    background: #2d88ff;
    height: 19px;
    --padding-end: 12px;
    --padding-start: 12px;
    color: #ffffff;
    font-weight: 500;
    font-size: x-small;
}
.badge-color-reject{
    float: right;
    background: #fe9800;
    height: 19px;
    --padding-end: 12px;
    --padding-start: 12px;
    color: #ffffff;
    font-weight: 500;
    font-size: x-small;
}
// ion-content {
//     --background: none;
//     //background-image: url('../../assets/dashboard-bg.png');
//     // background-color: #c5e3ff;
//     background-color: #071947;
//     // background-color: #c5e3ffa6;
//     background-position: center top;
//     background-repeat: no-repeat;
//     background-size: cover;
// }
// .gap{
//     margin-top: 25px;
//     margin-left: 27px;
//     // margin-right: 15px;
// }
// .gap1{
//     margin-top: 5px;
// }
// .circle-img {
//     border-radius: 50%;
//     width: 50%;
//     height: 40%;
//     margin-left: -12px;
//     // margin-top: -4px;
//     // margin-left: 19px;
// }
// .row-card {
//     background-color: #d2edff;
//     margin-top:5px;
// }
// .row-card1 {
//     background-color: #25345c;
//     margin-top:5px;
// }
// .blue-dot {
//     width: 7px;
//     height: 7px;
//     background-color: #54acff;
//     border-radius: 50%;
//     margin-top: 4px;/* Adjust this value to vertically center the dot */
//     margin-left: 7px;
// }