<ion-content>
  <div class="honeycomb-overlay"></div>
  <div class="ion-padding-top ion-padding-horizontal" style="background: #061947;">
    <ion-grid>
      <ion-row>
        <ion-col size="1" style="text-align: start;" (click)="dismiss()">
          <ion-icon name="arrow-back-outline" style="color:white;font-size: x-large;"></ion-icon>
        </ion-col>
        <ion-col size="9" style="text-align: center; margin-top: -3px;">
          <strong class="header" style="color:white;">Save Items</strong>
        </ion-col>
        <!-- <ion-col style="text-align: end;" (click)="showSearch()">
          <ion-icon name="search-outline" style="color:white; margin-right: 7px;"></ion-icon>
        </ion-col> -->
      </ion-row>
    </ion-grid>
  </div>
  <ion-searchbar [(ngModel)]="searchQuery" mode="ios" class="custom" (ionInput)="filterList()" placeholder="Search Deals" (click)="hideFooter()"></ion-searchbar>
  <!-- <app-commonsearch class="animated-display" *ngIf="searchFlag"></app-commonsearch> -->
  <!-- <div style="margin-left: 5px;">
    <ion-segment value="allevent" [(ngModel)]="infoSegment">
      <ion-segment-button value="mall">
        <ion-label style="font-size: x-small;color:white;">Mall</ion-label>
      </ion-segment-button>
      <ion-segment-button value="broadcast" (click)="load_saved_broadcast()">
        <ion-label style="font-size: x-small;color:white;">Broadcast</ion-label>
      </ion-segment-button>
      <ion-segment-button value="whatsnew" >
        <ion-label style="font-size: x-small;color:white;">What's New</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div> -->
  <div>
    <div class="card-gap">
      <ion-grid *ngIf="dataLoaded && filteredList.length > 0">
        <ion-row>
          <ion-col size="6" *ngFor="let data of filteredList" >  <!--(click)="goToMallDetails(data,'saveditem')"-->
            <ion-card class="saved-items-card">
              <ion-card-header> 
                <ion-card-title>
                  <swiper class="mySwiper" data-loop="true" [config]="config" (swiper)="setSwiperInstance($event)">
                    <ng-template swiperSlide *ngFor="let img of data.images">
                      <img src="{{imageUrl}}{{img}}" alt="" class="img-banner">
                    </ng-template>
                  </swiper>
                  <!-- <img src="{{imageURL}}{{property.PROPERTY_IMG}}" alt="" class="img-banner"> -->
                  <!-- <img src="../../../assets/oppophone.webp" alt="" class="img-banner"> -->
                </ion-card-title>
                <span class="name-text">{{data.product_name.substring(0,15)}}<span *ngIf="data.product_name.length>=15">...</span></span><br>
              </ion-card-header>
              <ion-card-content style="margin-top: -28px;">
                <span style="float:left;font-size: smaller;">{{data.description.substring(0,23)}}<span *ngIf="data.description.length>=23">...</span></span><br>
                <ion-icon name="location-outline" style="float:left;color: red;margin-top: 5px;"></ion-icon><span style="font-size: x-small;">{{data.location}}</span>
                <ion-row>
                  <ion-col>
                    <!-- <span style="float:left;font-size: x-small;">{{data.created_date}}</span> -->
                    <span style="float:left;font-size: x-small;color:green;">Rs.{{data.price}}/-</span>
                  </ion-col>
                  <ion-col>
                    <ion-badge class="badge-color" mode="ios"><ion-icon name="arrow-forward-outline" style="float:right;color: black;"></ion-icon></ion-badge>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div class="no-data" *ngIf="dataLoaded && filteredList.length == 0">
        <img class="watermark-image" src="../../assets/no-data-found.png" alt="No Data">
        <span class="no-data-text">No Deals Data</span>
      </div>
    </div>
    <!-- <div class="card-gap" *ngSwitchCase="'broadcast'">
      <ion-grid>
        <ion-row>
          <ion-col size="12" >
            <ion-card  class="broadcast-card" style="background-color: #efefef;margin-top: 0px;" *ngFor="let data of broadcast_list" >
              <h6 style="padding-left: 10px;color:#000000" (click)="goToBroadcastDetails(data.id)">{{data.BROADCAST__TITLE}}</h6>
               <p style="padding: 10px;margin-top:-16px;color:#5c5a5f;font-size: small;" (click)="goToBroadcastDetails(data.id)"> {{data.BROADCAST__DESCRIPTION}}</p>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div> -->
  </div>
</ion-content>
<app-commonfooter></app-commonfooter>