<ion-content>
  <!-- <div class="honeycomb-overlay"></div> -->
  <div class="ion-padding-top ion-padding-horizontal" style="background: #061947;">
    <ion-grid>
      <ion-row>
        <ion-col size="1" style="text-align: start;" >
          <ion-icon name="arrow-back-outline" style="color:white;font-size: x-large;" (click)="dismiss()"></ion-icon>
        </ion-col>
        <ion-col size="9" style="text-align: center; margin-top: -3px;">
          <strong class="header" style="color:white;">aapasmein Clarity</strong>
        </ion-col>
        <!-- <ion-col style="text-align: end;" (click)="showSearch()">
          <ion-icon name="search-outline" style="color:white; margin-right: 7px;"></ion-icon>
        </ion-col> -->
      </ion-row>
    </ion-grid>
  </div>
  <!-- <app-commonsearch class="animated-display" *ngIf="searchFlag"></app-commonsearch> -->
  <!-- <div >
    <ion-button class="button-property" size="small" color="tertiary" (click)="addYellowPage()"><ion-icon name="add-outline"></ion-icon>Add</ion-button>
  </div> -->
  <div class="card-gap">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-card class="mall-card" (click)="goToDetails('1')">
            <ion-card-header> 
              <ion-card-title>
                <span style="color:black;font-size: 10px;margin-top: 3px;font-weight: 300;">Clarity</span><br>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-row>
                <ion-col size="12" style="text-align: center;">
                  <img src="assets/icon/features/clarity.svg" alt="" class="img-avatar img_align">
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card class="mall-card" (click)="goToDetails('2')">
            <ion-card-header> 
              <ion-card-title>
                <span style="color:black; font-size: 10px; font-weight: 300;">aapasmein</span><br>
                <span style="color:black; font-size: 10px; font-weight: 300;display: block;">Request</span>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-row>
                <ion-col size="12" style="text-align: center;">
                  <img src="assets/icon/features/request.svg" alt="" class="img-avatar">
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <!-- <ion-col size="4">
          <ion-card class="mall-card" (click)="goToDetails('6')">
            <ion-card-header> 
              <ion-card-title>
                <span style="color:black;font-size: 10px;margin-top: 3px;font-weight: 300;">Yellow Pages</span><br>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-row>
                <ion-col size="12" style="text-align: center;">
                  <img src="assets/icon/features/convinenace.svg" alt="" class="img-avatar img_align">
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-col> -->
        <ion-col size="6">
          <ion-card class="mall-card" (click)="goToDetails('3')">
            <ion-card-header> 
              <ion-card-title>
                <span style="color:black;font-size: 10px;margin-top: 3px;font-weight: 300;">Convenience</span><br>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-row>
                <ion-col size="12" style="text-align: center;">
                  <img src="assets/icon/features/convinenace.svg" alt="" class="img-avatar img_align">
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card class="mall-card" (click)="goToDetails('4')">
            <ion-card-header> 
              <ion-card-title>
                <span style="color:black;font-size: 10px;margin-top: 3px;font-weight: 300;">Advantage</span><br>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-row>
                <ion-col size="12" style="text-align: center;">
                  <img src="assets/icon/features/advantage.svg" alt="" class="img-avatar img_align">
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-card class="mall-card" (click)="goToDetails('5')">
            <ion-card-header> 
              <ion-card-title>
                <span style="color:black; font-size: 10px; font-weight: 300;">aapasmein</span><br>
                <span style="color:black; font-size: 10px; font-weight: 300;display: block;">Events</span>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-row>
                <ion-col size="12" style="text-align: center;">
                  <img src="assets/icon/features/event.svg" alt="" class="img-avatar">
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <!-- <ion-card class="mall-card" (click)="goToDetails('6')">
            <ion-card-header> 
              <ion-card-title>
                <span style="color:black; font-size: 10px; font-weight: 300;">aapasmein</span><br>
                <span style="color:black; font-size: 10px; font-weight: 300;display: block;">Community</span>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-row>
                <ion-col size="12" style="text-align: center;">
                  <img src="assets/icon/features/community.svg" alt="" class="img-avatar">
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card> -->
          <ion-card class="mall-card" (click)="goToDetails('7')">
            <ion-card-header> 
              <ion-card-title>
                <span style="color:black; font-size: 10px; font-weight: 300;">aapasmein</span><br>
                <span style="color:black; font-size: 10px; font-weight: 300;display: block;">Deals</span>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-row>
                <ion-col size="12" style="text-align: center;">
                  <img src="assets/icon/features/deal.png" alt="" class="img-avatar">
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-card class="mall-card" (click)="goToDetails('8')">
            <ion-card-header> 
              <ion-card-title>
                <span style="color:black;font-size: 10px;margin-top: 3px;font-weight: 300;">Recognition</span><br>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-row>
                <ion-col size="12" style="text-align: center;">
                  <img src="assets/icon/features/rate.svg" alt="" class="img-avatar img_align">
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card class="mall-card" (click)="goToDetails('12')">
            <ion-card-header> 
              <ion-card-title>
                <span style="color:black;font-size: 10px;margin-top: 3px;font-weight: 300;">Samvaad</span><br>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-row>
                <ion-col size="12" style="text-align: center;">
                  <img src="assets/icon/features/samvaad.png" alt="" class="img-avatar img_align">
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <!-- <ion-col size="4">
          <ion-card class="mall-card" (click)="goToDetails('9')">
            <ion-card-header> 
              <ion-card-title>
                <span style="color:black;font-size: 10px;margin-top: 3px;font-weight: 300;">Accolades</span><br>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-row>
                <ion-col size="12" style="text-align: center;">
                  <img src="assets/icon/features/trophy.svg" alt="" class="img-avatar img_align">
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-col> -->
        <!-- <ion-col size="4">
          <ion-card class="mall-card" (click)="goToDetails('1')">
            <ion-card-header> 
              <ion-card-title>
                <span style="color:black;font-size: 10px;margin-top: 3px;font-weight: 300;">Broadcast</span><br>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-row>
                <ion-col size="12" style="text-align: center;">
                  <img src="assets/icon/features/broadcast.svg" alt="" class="img-avatar img_align">
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-col> -->
        <!-- <ion-col size="4">
          <ion-card class="mall-card" (click)="goToDetails('3')">
            <ion-card-header> 
              <ion-card-title>
                <span style="color:black;font-size: 10px;margin-top: 3px;font-weight: 300;">What's New</span><br>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-row>
                <ion-col size="12" style="text-align: center;">
                  <img src="../../../assets/mobile.jpg" alt="" class="img-avatar img_align">
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-col> -->
      </ion-row>
      <ion-row>
        <!-- <ion-col size="4">
          <ion-card class="mall-card" (click)="goToDetails('10')">
            <ion-card-header> 
              <ion-card-title>
                <span style="color:black;font-size: 10px;margin-top: 3px;font-weight: 300;">Broadcast</span><br>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-row>
                <ion-col size="12" style="text-align: center;">
                  <img src="assets/icon/features/broadcast.svg" alt="" class="img-avatar img_align">
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-col> -->
        <!-- <ion-col size="4">
          <ion-card class="mall-card" (click)="goToDetails('11')">
            <ion-card-header> 
              <ion-card-title>
                <span style="color:black;font-size: 10px;margin-top: 3px;font-weight: 300;">Unwind</span><br>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-row>
                <ion-col size="12" style="text-align: center;">
                  <img src="assets/icon/features/unwind.png" alt="" class="img-avatar img_align">
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-col> -->
        <!-- <ion-col size="4">
          <ion-card class="mall-card" (click)="goToDetails('12')">
            <ion-card-header> 
              <ion-card-title>
                <span style="color:black;font-size: 10px;margin-top: 3px;font-weight: 300;">Samvaad</span><br>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-row>
                <ion-col size="12" style="text-align: center;">
                  <img src="assets/icon/features/samvaad.png" alt="" class="img-avatar img_align">
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-col> -->
      </ion-row>
    </ion-grid>
  </div>
  <!-- <div class="card-gap">
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-card class="mall-card" (click)="goToDetails('1')">
            <ion-card-header> 
              <ion-card-title>
                <span style="color:black;font-size: 10px;margin-top: 3px;font-weight: 300;">Broadcast</span><br>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-row>
                <ion-col size="12" style="text-align: center;">
                  <img src="assets/icon/features/broadcast.svg" alt="" class="img-avatar img_align">
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="4">
          <ion-card class="mall-card" (click)="goToDetails('2')">
            <ion-card-header> 
              <ion-card-title>
                <span style="color:black; font-size: 10px; font-weight: 300;">Aapasmein</span><br>
                <span style="color:black; font-size: 10px; font-weight: 300;display: block;">Mall</span>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-row>
                <ion-col size="12" style="text-align: center;">
                  <img src="assets/icon/features/mall.svg" alt="" class="img-avatar">
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="4">
          <ion-card class="mall-card" (click)="goToDetails('3')">
            <ion-card-header> 
              <ion-card-title>
                <span style="color:black;font-size: 10px;margin-top: 3px;font-weight: 300;">What's New</span><br>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-row>
                <ion-col size="12" style="text-align: center;">
                  <img src="../../../assets/mobile.jpg" alt="" class="img-avatar img_align">
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <ion-card class="mall-card" (click)="goToDetails('6')">
            <ion-card-header> 
              <ion-card-title>
                <span style="color:black;font-size: 10px;margin-top: 3px;font-weight: 300;">Yellow Pages</span><br>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-row>
                <ion-col size="12" style="text-align: center;">
                  <img src="assets/icon/features/convinenace.svg" alt="" class="img-avatar img_align">
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="4">
          <ion-card class="mall-card" (click)="goToDetails('4')">
            <ion-card-header> 
              <ion-card-title>
                <span style="color:black; font-size: 10px; font-weight: 300;">Aapasmein</span><br>
                <span style="color:black; font-size: 10px; font-weight: 300;display: block;">Events</span>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-row>
                <ion-col size="12" style="text-align: center;">
                  <img src="assets/icon/features/event.svg" alt="" class="img-avatar">
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="4">
          <ion-card class="mall-card" (click)="goToDetails('5')">
            <ion-card-header> 
              <ion-card-title>
                <span style="color:black; font-size: 10px; font-weight: 300;">Aapasmein</span><br>
                <span style="color:black; font-size: 10px; font-weight: 300;display: block;">Community</span>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-row>
                <ion-col size="12" style="text-align: center;">
                  <img src="assets/icon/features/community.svg" alt="" class="img-avatar">
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div> -->
</ion-content>

<app-commonfooter></app-commonfooter>